.panel.panel-default(style='width:80%;margin:0 auto')
  .panel-heading(style='background:#0580DC !important;color:#fff;font-size:18px:text-align:center;')
    | Edit
    a.pull-right(href='#/home', style='text-decoration:none;color:#fff') X
  .panel-body
    .row(style='background:#fff;margin: 0 auto;')
      form.form-horizontal(role='form')
        .form-group
          input#id(name='id', ng-model='id', type='hidden')
          label.col-sm-3.control-label(for='email') Enrollment Number
          .col-sm-8
            input#enrollment.form-control(name='enrollment', ng-model='editenrollment', type='text', placeholder='Enrollment Number', disabled='')
        .form-group
          label.col-sm-3.control-label(for='email') Status
          .col-sm-8
            select.form-control(ng-model='editstatus')
              option(value='Paid', ng-selected='editstatus=="Paid"') Paid
              option(value='Not Paid', ng-selected='editstatus==Not Paid' selected='selected') Not Paid
        .form-group
          label.col-sm-3.control-label(for='email') Name
          .col-sm-8
            input#name.form-control(name='name', ng-model='editname', type='text', placeholder='Name')
        .form-group
          label.col-sm-3.control-label(for='email') Course
          .col-sm-8
            input#password.form-control(type='text', name='course', ng-model='editcourse', placeholder='Course')
        .form-group
          label.col-sm-3.control-label(for='email') Stream
          .col-sm-8
            input#stream.form-control(type='text', name='stream', ng-model='editstream', placeholder='Stream')
        .form-group
          label.col-sm-3.control-label(for='email') Year
          .col-sm-8
            input#email.form-control(type='text', name='year', ng-model='edityear', placeholder='Year')
        .form-group
          label.col-sm-3.control-label(for='email') Semester
          .col-sm-8
            input#sem.form-control(type='text', name='sem', ng-model='editsemester', placeholder='Semester', disabled='')
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-8
            input#mobile.form-control(type='text', name='email', ng-model='editemail', placeholder='Email')
        .form-group
          label.col-sm-3.control-label(for='email') Mobile Number
          .col-sm-8
            input#password.form-control(type='text', name='mobile', ng-model='editmobile', placeholder='Mobile')
        .form-group
          label.col-sm-3.control-label(for='email') Fee For
          .col-sm-8
            input#email.form-control(type='text', name='feeFor', ng-model='editfeeFor', placeholder='Fee For')
        .form-group
          label.col-sm-3.control-label(for='email') Roll Number
          .col-sm-8
            input#mobile.form-control(type='text', name='rollNumber', ng-model='editrollNumber', placeholder='Roll Number')
        .form-group
          label.col-sm-3.control-label(for='email') Admission Fee
          .col-sm-8
            input#password.form-control(type='text', name='admissionFee', ng-model='editadmissionFee', placeholder='Admission Fee')
        .form-group
          label.col-sm-3.control-label(for='email') Tution Fee
          .col-sm-8
            input#email.form-control(type='text', name='tutionFee', ng-model='edittutionFee', placeholder='Tuition Fee')
        .form-group
          label.col-sm-3.control-label(for='email') Hostel Fee
          .col-sm-8
            input#mobile.form-control(type='text', name='hostelFee', ng-model='edithostelFee', placeholder='Hostel Fee')
        .form-group
          label.col-sm-3.control-label(for='email') Mess Fee
          .col-sm-8
            input#password.form-control(type='text', name='messFee', ng-model='editmessFee', placeholder='Mess Fee')
        .form-group
          label.col-sm-3.control-label(for='email') Lab Fee
          .col-sm-8
            input#email.form-control(type='text', name='labFee', ng-model='editlabFee', placeholder='Lab Fee')
        .form-group
          label.col-sm-3.control-label(for='email') Late Fee
          .col-sm-8
            input#mobile.form-control(type='text', name='lateFee', ng-model='editlateFee', placeholder='Late Fee')
        .form-group
          label.col-sm-3.control-label(for='email') Other Fee
          .col-sm-8
            input#password.form-control(type='text', name='otherFee', ng-model='editotherFee', placeholder='Other Fee')
        .form-group
          label.col-sm-3.control-label(for='email') Others
          .col-sm-8
            input#password.form-control(type='text', name='others', ng-model='editothers', placeholder='Others')
        .row
          label.col-sm-3.control-label(for='email')
          .col-sm-8
            button.btn.btn-primary.btn-sm(type='button', ng-click='saveEntry()', style='background:#0580DC !important;color:#fff') Save
            a.btn.btn-primary.btn-sm(href='#/home', style='background:#fff !important;color:#000;') Cancel
