.btn-group.pull-right
  button.btn.btn-primary(type='button', ng-click='reupload()')
    i.fa.fa-upload(aria-hidden='true')
    |   Upload
  button.btn.btn-primary(data-toggle='modal', data-target='#myModal')
    i.fa.fa-plus-square(aria-hidden='true')
    |   Add
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header(style='background:#0580DC !important;color:#fff')
          button.close(type='button', data-dismiss='modal', aria-hidden='true') X
          h4#myModalLabel.modal-title Add Entry
        .modal-body
          .row
            .col-md-8
              div
                #Registration
                  form.form-horizontal(role='form')
                    .form-group
                      .col-sm-10
                        input#enrollment.form-control(name='enrollment', ng-model='enrollment', type='text', placeholder='Enrollment Number')
                    .form-group
                      .col-sm-10
                        select.form-control(ng-model='status')
                          option(value='', disabled='disabled')  Payment Status
                          option(value='Paid') Paid
                          option(value='Not Paid') Not Paid
                    .form-group
                      .col-sm-10
                        input#name.form-control(name='name', ng-model='name', type='text', placeholder='Name')
                    .form-group
                      .col-sm-10
                        input#course.form-control(type='text', name='course', ng-model='course', placeholder='Course')
                    .form-group
                      .col-sm-10
                        input#stream.form-control(type='text', name='stream', ng-model='stream', placeholder='Stream')
                    .form-group
                      .col-sm-10
                        input#year.form-control(type='text', name='year', ng-model='year', placeholder='Year')
                    .form-group
                      .col-sm-10
                        input#sem.form-control(type='text', name='sem', ng-model='semester', placeholder='Semester')
                    .form-group
                      .col-sm-10
                        input#email.form-control(type='text', name='email', ng-model='email', placeholder='Email')
                    .form-group
                      .col-sm-10
                        input#mobile.form-control(type='text', name='mobile', ng-model='mobile', placeholder='Mobile')
                    .form-group
                      .col-sm-10
                        input#feeFor.form-control(type='text', name='feeFor', ng-model='feeFor', placeholder='Fee For')
                    .form-group
                      .col-sm-10
                        input#rollNumber.form-control(type='text', name='rollNumber', ng-model='rollNumber', placeholder='Roll Number')
                    .form-group
                      .col-sm-10
                        input#admissionFee.form-control(type='text', name='admissionFee', ng-model='admissionFee', placeholder='Admission Fee')
                    .form-group
                      .col-sm-10
                        input#tutionFee.form-control(type='text', name='tutionFee', ng-model='tutionFee', placeholder='Tuition Fee')
                    .form-group
                      .col-sm-10
                        input#hostelFee.form-control(type='text', name='hostelFee', ng-model='hostelFee', placeholder='Hostel Fee')
                    .form-group
                      .col-sm-10
                        input#messFee.form-control(type='text', name='messFee', ng-model='messFee', placeholder='Mess Fee')
                    .form-group
                      .col-sm-10
                        input#labFee.form-control(type='text', name='labFee', ng-model='labFee', placeholder='Lab Fee')
                    .form-group
                      .col-sm-10
                        input#lateFee.form-control(type='text', name='lateFee', ng-model='lateFee', placeholder='Late Fee')
                    .form-group
                      .col-sm-10
                        input#otherFee.form-control(type='text', name='otherFee', ng-model='otherFee', placeholder='Other Fee')
                    .form-group
                      .col-sm-10
                        input#others.form-control(type='text', name='others', ng-model='others', placeholder='Others')
                    .row
                      .col-sm-10
                        button.btn.btn-primary.btn-sm(type='button', ng-click='addNewEntry()', style='background:#0580DC !important;color:#fff') Add
  button.btn.btn-primary(type='button', ng-click='editData()')
    i.fa.fa-pencil-square-o(aria-hidden='true')
    |   Edit
  button.btn.btn-primary(type='button', ng-click='deleteData()')
    i.fa.fa-times(aria-hidden='true')
    |   Delete
  button.btn.btn-primary(type='button', ng-click='exportExcel()')
    i.fa.fa-cloud-download(aria-hidden='true')
    |   Export
  // <button type="button" ng-click="filterData()" class="btn btn-primary"><i aria-hidden="true" class="fa fa-filter"></i>  Filter</button>
#page-content-wrapper
  .container
    table.table
      thead(bgcolor='#08BB47')
        tr
          th
            input(type='checkbox', ng-click='toggleAll()', ng-model='allSelected')
            |  All
          th Status
          th Enrollment No
          th Name
          th Course
          th Stream
          th Year
          th Semester
          th Email
          th Mobile
          th Fee For
          th Roll No
          th Admission Fee
          th Tuition Fee
          th Hostel Fee
          th Mess Fee
          th Lab Fee
          th Late Fee
          th Other Fee
          th Others
          th Txn Id
          th Payment Date
      tbody(infinite-scroll='nextPage()', infinite-scroll-distance='3', infinite-scroll-disabled='stuFeeSvc.fees.busy')
        tr
          td      
          td
            input(ng-model='stuFeeSvc.fees.fee_status' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.enrollment_no' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.name' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.course' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.stream' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.year' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.semester' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.email' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.mobile' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.fee_for' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.roll_no' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='f.admission_fee')
          td
            input(ng-model='f.tuition_fee')
          td
            input(ng-model='f.hostel_fee')
          td
            input(ng-model='f.mess_fee')
          td
            input(ng-model='f.lab_fee')
          td
            input(ng-model='f.late_fee')
          td
            input(ng-model='f.other_fee')
          td
            input(ng-model='f.others')
          td
            input(ng-model='stuFeeSvc.fees.txnid' my-enter='stuFeeSvc.search()')
          td
            input(ng-model='stuFeeSvc.fees.payment_date' my-enter='stuFeeSvc.search()')
        tr(ng-repeat="student in stuFeeSvc.fees.data | filter:f | orderBy: 'name'")
          td
            input(type='checkbox', ng-model='formData.checkboxes[student.enrollment_no+":"+student.semester]')
          td {{student.status}}
          td {{student.enrollment_no}}
          td {{student.name}}
          td {{student.course}}
          td {{student.stream}}
          td {{student.year}}
          td {{student.semester}}
          td {{student.email}}
          td {{student.mobile}}
          td {{student.fee_for}}
          td {{student.roll_no}}
          td {{student.admission_fee}}
          td {{student.tuition_fee}}
          td {{student.hostel_fee}}
          td {{student.mess_fee}}
          td {{student.lab_fee}}
          td {{student.late_fee}}
          td {{student.other_fee}}
          td {{student.others}}
          td {{student.txnid}}
          td {{student.payment_date|date:'h:mm a dd MM yyyy'}}
