.panel.panel-default(style='width:80%;margin:0 auto')
	.panel-heading(style='background:#0580DC !important;color:#fff;font-size:18px:text-align:center;')
		| Edit
		a.pull-right(href='#/home', style='text-decoration:none;color:#fff') X
	.panel-body
		.row(style='background:#fff;margin: 0 auto;')
			form.form-horizontal(role='form')
				.form-group
					label.col-sm-3.control-label(for='email') Email
					.col-sm-8
						input#name.form-control(name='email', ng-model='email', type='email', placeholder='Email')
				.form-group
					input#id(name='id', ng-model='id', type='hidden')
					label.col-sm-3.control-label(for='email') Unique Id
					.col-sm-8
						input#enrollment.form-control(name='unique_id', ng-model='unique_id', type='text', placeholder='Unique Id')
				.form-group
					label.col-sm-3.control-label(for='email') Phone
					.col-sm-8
						input#name.form-control(name='phone', ng-model='phone', type='text', placeholder='Phone')
				.form-group
					label.col-sm-3.control-label(for='email') First Name
					.col-sm-8
						input#name.form-control(name='firstname', ng-model='firstname', type='text', placeholder='First Name')
				.form-group
					label.col-sm-3.control-label(for='email') Last Name
					.col-sm-8
						input#name.form-control(name='lastname', ng-model='lastname', type='text', placeholder='Last Name')
				.form-group
					label.col-sm-3.control-label(for='email') Role
					.col-sm-8
						select.form-control(ng-model='role')
							option(value='Student') Student
							option(value='Faculty') Faculty
							option(value='Staff') Staff
							option(value='Admin') Admin
				.form-group
					label.col-sm-3.control-label(for='email') Course
					.col-sm-8
						input#name.form-control(name='course', ng-model='course', type='text', placeholder='Course')
				.row
					label.col-sm-3.control-label(for='email')
					.col-sm-8
						button.btn.btn-primary.btn-sm(type='button', ng-click='saveEntry()', style='background:#0580DC !important;color:#fff') Save
						a.btn.btn-primary.btn-sm(href='#/userManagement', style='background:#fff !important;color:#000;') Cancel
