doctype html
html
  head
    link(crossorigin='anonymous', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', rel='stylesheet')
    style(type='text/css').
      .top-head{
      background-color: #F4F4F4;
      height: 10%;
      font-size: 1.5em;
      size: 2;
      line-height: 3;
      }
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
      .openSans * {
      font-family: 'Open Sans', sans-serif;
      height: 100%;
      color: gray;
      }
      .main{
      height: 100%;
      }
      .top-head-image img{
      margin-top: -3%;
      width: 6%;
      }
      .form-control{
      height: 27px !important;
      }
      .form-group .btn{
      margin-top: 25px;
      padding:5px;
      }
      .form-group.row{
      margin-left:0px;
      }
      input.form-control{
      margin:3px;
      }
      .fee-details .row{
      margin-left: 0px;
      margin-right:0px;
      }
      .fee-details .row:nth-child(even) {
      background-color: #F4F4F4;
      }
      .fee-details .row div:nth-child(2) {
      text-align: right;
      }
      .fee-details .row div:nth-child(1) {
      text-align: left;
      }
      .fee-icon{
      margin-right: 10px;
      }
      .fee-icon img {
      width: 10%;
      }
      .fee-header *{
      color: #2ebc2a !important;
      }
      .fee-header{
      line-height: 30px;
      margin: 10px;
      font-size: 18px;
      }
      .last{
      font-size:20px ;
      }
      .btn-cust{
      color: white;
      margin:20px;
      width:65px;
      }
  body.container-fluid
    .row.main.openSans
      .col-xs-12.col-sm-12.col-md-12
        .row.text-center.top-head
          .col-xs-12.col-sm-12.col-md-12
            br
        .row.text-center.top-head-image
          .col-xs-12.col-sm-12.col-md-12.text-center
            img(src='/feepayment/images/fp/04.png')
      .clearfix
      form.form(role='form')
        .form-group.row
          .col-xs-4.col-sm-4.col-md-4
            div Name
          .col-xs-8.col-sm-8.col-md-8 {{fdCtrl.studentData.name}}
        .form-group.row
          .col-xs-4.col-sm-4.col-md-4
            div Enrollment No
          .col-xs-8.col-sm-8.col-md-8 {{fdCtrl.studentData.enrollment_no}}
        .form-group.row
          .col-xs-4.col-sm-4.col-md-4
            div Semestar
          .col-xs-8.col-sm-8.col-md-8 {{fdCtrl.studentData.semester}}
        .form-group.row
          .col-xs-4.col-sm-4.col-md-4
            div(for='email') Email
          .col-xs-8.col-sm-8.col-md-8
            div {{fdCtrl.studentData.email}}
        .form-group.row
          .col-xs-4.col-sm-4.col-md-4
            div(for='roll_no') Roll No
          .col-xs-8.col-sm-8.col-md-8 {{fdCtrl.studentData.roll_no}}
        .clearfix
      .row(style='margin-right:0px')
        .fee-details.col-xs-12.col-ms-12.col-md-12
          .row.fee-header
            .col-xs-4.col-sm-4.col-md-4.col-xs-4.text-left Fee For
            .col-xs-8.col-md-8.col-sm-8 Academic Fee
          .row(ng-class="{hide:!fdCtrl.studentData.admission_fee||fdCtrl.studentData.admission_fee=='0'||fdCtrl.studentData.admission_fee==0}")
            .col-xs-4.col-sm-4.col-md-4.col-xs-4
              span.fee-icon
                img(src='/feepayment/images/fp/10.png')
              |                             Admission Fee
            .col-xs-8.col-md-8.col-sm-8 {{fdCtrl.studentData.admission_fee}}
          .row(ng-class="{hide:!fdCtrl.studentData.tuition_fee||fdCtrl.studentData.tuition_fee=='0'||fdCtrl.studentData.tuition_fee==0}")
            .col-xs-4.col-sm-4.col-md-4.col-xs-4(for='enNO')
              span.fee-icon
                img(src='/feepayment/images/fp/11.png')
              |                             Tuition Fee
            .col-xs-8.col-md-8.col-sm-8 {{fdCtrl.studentData.tuition_fee}}
          .row(ng-class="{hide:!fdCtrl.studentData.hostel_fee||fdCtrl.studentData.hostel_fee=='0'||fdCtrl.studentData.hostel_fee==0}")
            .col-xs-4.col-sm-4.col-md-4.col-xs-4
              span.fee-icon
                img(src='/feepayment/images/fp/12.png')
              |                             Hostel Fee
            .col-xs-8.col-md-8.col-sm-8 {{fdCtrl.studentData.hostel_fee}}
          .row(ng-class="{hide:!fdCtrl.studentData.mess_fee||fdCtrl.studentData.mess_fee=='0'||fdCtrl.studentData.mess_fee==0}")
            .col-xs-4.col-sm-4.col-md-4.col-xs-4
              span.fee-icon
                img(src='/feepayment/images/fp/13.png')
              |                             Mess Fee
            .col-xs-8.col-md-8.col-sm-8 {{fdCtrl.studentData.mess_fee}}
          .row(ng-class="{hide:!fdCtrl.studentData.lab_fee||fdCtrl.studentData.lab_fee=='0'||fdCtrl.studentData.lab_fee==0}")
            .col-xs-4.col-sm-4.col-md-4(for='stream')
              span.fee-icon
                img(src='/feepayment/images/fp/14.png')
              |                             Lab Fee
            .col-xs-8.col-md-8.col-sm-8 {{fdCtrl.studentData.lab_fee}}
          .row(ng-class="{hide:!fdCtrl.studentData.others||fdCtrl.studentData.others=='0'||fdCtrl.studentData.others==0}")
            .col-xs-4.col-sm-4.col-md-4(for='mobile')
              span.fee-icon
                img(src='/feepayment/images/fp/15.png')
              |                             Others
            .col-xs-8.col-md-8.col-sm-8 {{fdCtrl.studentData.others}}
          .row.last
            .col-xs-4.col-sm-4.col-md-4(for='mobile')
              span.fee-icon
                img(src='/feepayment/images/fp/16.png')
              |                             Total Fee Payable
            .col-xs-8.col-md-8.col-sm-8 {{fdCtrl.totalFeePayable(fdCtrl.studentData)}}
      .row
        .col-xs-12.col-md-12.text-center
          .btn.btn-primary.btn-cust(ng-click='fdCtrl.paymethod()', style='color: white') Pay
