doctype html
head
  style(type='text/css').
    .top-head {
    background-color: #F4F4F4;
    height: 10%;
    font-size: 1.5em;
    size: 2;
    line-height: 3;
    }
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
    .openSans * {
    font-family: 'Open Sans', sans-serif;
    color: gray;
    }
    .main {
    height: 100%;
    }
    .top-head-image img {
    margin-top: -3%;
    width: 6%;
    }
    .form-group {
    margin: 10px;
    }
    .form-group .btn {
    margin-top: 25px;
    padding: 5px;
    }
    .marginT30px {
    margin-top: 30px;
    }
    .formStyle {
    background-color: white;
    border-radius: 4px;
    }
    .header {
    font-size: 22px;
    top: 15px
    }
    .textInput {
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: black;
    }
    .textarea {
    width: 150px;
    }
.row.main.openSans
  .col-xs-12.col-sm-12.col-md-12
    .row.text-center.top-head
      .col-xs-12.col-sm-12.col-md-12
    .row.text-center.top-head-image
      .col-xs-12.col-sm-12.col-md-12.text-center
        img(src='/feepayment/images/fp/04.png')
    .row.text-center
      .col-xs-12.col-sm-12.col-md-12.text-center.header Annual Fee Payment Form
      br
      .col-xs-12.col-sm-12.col-md-12.text-center.header Session 2018-19
  .clearfix
  form.form.marginT30px.formStyle(role='form' name='stuForm' novalidate='' ng-submit='next(stuForm.$valid)')
    input(type='hidden' name='form_for' value='{{guestdetails.form_for}}' ng-init="guestdetails.form_for='admission_gadm'" ng-model='guestdetails.form_for')
    .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Year
          span(ng-show='regReq' style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        select#year.form-control(name='year' ng-model='guestdetails.year' )
          option(value='') select
          option(value='I') I 
          option(value='II') II 
          option(value='III') III 
          option(value='Ex Student') Ex Student 1
        span(ng-show='submitted')
          span(ng-show='stuForm.year.$error.required' style='color: red;') *required.
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Examination Roll No.
          span(ng-show='true' style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#en_no.form-control(name='en_no' placeholder='Examination Roll No.' ng-model='guestdetails.en_no' type='text' ng-required='true')
        span(ng-show='submitted')
          span(ng-show='stuForm.en_no.$error.required' style='color: red;') *required.
      .clearfix
    .form-group(ng-show='valid')
      .col-xs-4.col-sm-4.col-md-4
        div
          | College Roll No.
          span(ng-show='true' style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#uniqueId.form-control(name='uniqueId' placeholder='College Roll No.' ng-model='guestdetails.uniqueId' type='text' ng-required='true')
        span(ng-show='submitted')
          span(ng-show='submitted')
            span(ng-show='stuForm.uniqueId.$error.required' style='color: red;') *required.
      .clearfix
    .form-group(ng-show='valid')
      .col-xs-4.col-sm-4.col-md-4
        div
          | Course
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        select#course.form-control(name='course' ng-model='guestdetails.course' required='')
          option(value='') select
          option(value='B.A. Prog.') B.A. Prog. 
          option(value='B.Com Prog.') B.Com Prog. 
          option(value='B.Com. (Hons)') B.Com. (Hons) 
          option(value='B.A. (Hons) Sanskrit') B.A. (Hons) Sanskrit 
          option(value='B.A. (Hons)Philosophy') B.A. (Hons)Philosophy 
          option(value='B.A. (Hons)History') B.A. (Hons)History 
          option(value='B.A. (Hons) Hindi') B.A. (Hons) Hindi 
          option(value='B.A. (Hons)English') B.A. (Hons)English 
          option(value='B.A. (Hons)Economics') B.A. (Hons)Economics 
          option(value='B.A. (Hons)Political Science') B.A. (Hons)Political Science 
          option(value='B.B.E.') B.B.E. 
          option(value='B.Sc (Hons) MATHEMATICS') B.Sc (Hons) MATHEMATICS 
          option(value='M.A. PHILOSOPHY') M.A. PHILOSOPHY 
          option(value='M.A. SANSKRIT') M.A. SANSKRIT
          option(value='M.A. POLITICAL SCIENCE') M.A. POLITICAL SCIENCE 
        span(ng-show='submitted')
          span(ng-show='stuForm.course.$error.required' style='color: red;') *required.
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Name (in CAPS)
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#firstname.form-control(name='firstname' placeholder='Name' ng-model='guestdetails.name' ng-keydown='alphaValidate($event)' max='16' maxlength='16' type='text' required='')
        span(ng-show='submitted')
          span(ng-show='stuForm.firstname.$error.required' style='color: red;') *required.
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Date of Birth
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        .row
          .col-xs-12.col-sm-2.col-md-2
            select#dd.form-control(name='dd' placeholder='DD' required='' ng-model='guestdetails.dob.dd')
              option(value='') dd
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
              option(value='6') 6
              option(value='7') 7
              option(value='8') 8
              option(value='9') 9
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
              option(value='24') 24
              option(value='25') 25
              option(value='26') 26
              option(value='27') 27
              option(value='28') 28
              option(value='29') 29
              option(value='30') 30
              option(value='31') 31
            span(ng-show='submitted')
              span(ng-show='stuForm.dd.$error.required' style='color: red;') *required.
          .col-xs-12.col-sm-2.col-md-2
            select#mm.form-control(name='mm' placeholder='mm' required='' ng-model='guestdetails.dob.mm')
              option(value='') mm
              option(value='1') Jan
              option(value='2') Feb
              option(value='3') Mar
              option(value='4') Apr
              option(value='5') May
              option(value='6') Jun
              option(value='7') Jul
              option(value='8') Aug
              option(value='9') Sep
              option(value='10') Oct
              option(value='11') Nov
              option(value='12') Dec
            span(ng-show='submitted')
              span(ng-show='stuForm.mm.$error.required' style='color: red;') *required.
          .col-xs-12.col-sm-2.col-md-2
            select#yy.form-control(name='yy' placeholder='yyyy' required='' ng-model='guestdetails.dob.yyyy')
              option(value='') yyyy
              option(value='1951') 1951
              option(value='1952') 1952
              option(value='1953') 1953
              option(value='1954') 1954
              option(value='1955') 1955
              option(value='1956') 1956
              option(value='1957') 1957
              option(value='1958') 1958
              option(value='1959') 1959
              option(value='1960') 1960
              option(value='1961') 1961
              option(value='1962') 1962
              option(value='1963') 1963
              option(value='1964') 1964
              option(value='1965') 1965
              option(value='1966') 1966
              option(value='1967') 1967
              option(value='1968') 1968
              option(value='1969') 1969
              option(value='1970') 1970
              option(value='1971') 1971
              option(value='1972') 1972
              option(value='1973') 1973
              option(value='1974') 1974
              option(value='1975') 1975
              option(value='1976') 1976
              option(value='1977') 1977
              option(value='1978') 1978
              option(value='1979') 1979
              option(value='1980') 1980
              option(value='1981') 1981
              option(value='1982') 1982
              option(value='1983') 1983
              option(value='1984') 1984
              option(value='1985') 1985
              option(value='1986') 1986
              option(value='1987') 1987
              option(value='1988') 1988
              option(value='1989') 1989
              option(value='1990') 1990
              option(value='1991') 1991
              option(value='1992') 1992
              option(value='1993') 1993
              option(value='1994') 1994
              option(value='1995') 1995
              option(value='1996') 1996
              option(value='1997') 1997
              option(value='1998') 1998
              option(value='1999') 1999
              option(value='2000') 2000
              option(value='2001') 2001
              option(value='2002') 2002
              option(value='2003') 2003
              option(value='2004') 2004
              option(value='2005') 2005
              option(value='2006') 2006
            span(ng-show='submitted')
              span(ng-show='stuForm.yy.$error.required' style='color: red;') *required.
      .clearfix
    .form-group(ng-show='valid')
      .col-xs-4.col-sm-4.col-md-4
        div
          | Contact No.
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#mobile.form-control(name='mobile' placeholder='Enter Contact No.' ng-model='guestdetails.mobile' ng-keydown='numValidate($event)' max='10' maxlength='10' type='text' required='')
        span(ng-show='submitted')
          span(ng-show='stuForm.mobile.$error.required' style='color: red;') *required.
      .clearfix
    .form-group(ng-show='valid')
      .col-xs-4.col-sm-4.col-md-4
        div
          | Email Id
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#email.form-control(name='email' placeholder='Enter Email address' ng-model='guestdetails.email' type='text' required='')
        span(ng-show='submitted')
          span(ng-show='stuForm.email.$error.required' style='color: red;') *required.
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Category
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        select#category.form-control(name='category' ng-model='guestdetails.category' required='')
          option(value='') select
          option(value='SC') SC 
          option(value='ST') ST 
          option(value='GENERAL/UR') GENERAL/UR 
          option(value='OBC') OBC 
          option(value='PWD') PWD 
          option(value='Kashmiri Migrant') Kashmiri Migrant 
          option(value='CW') CW 
          option(value='Sports') Sports 
          option(value='Foreign') Foreign 
      span(ng-show='submitted')
        span(ng-show='stuForm.category.$error.required' style='color: red;') *required.
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Medium
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#medium.form-control(name='medium' placeholder='Enter medium' ng-model='guestdetails.medium' type='text' required='')
        span(ng-show='submitted')
          span(ng-show='stuForm.medium.$error.required' style='color: red;') *required.
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Local Address
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#local_address.form-control(name='local_address' placeholder='Enter your local address' ng-model='guestdetails.local_address' type='text' required='')
        span(ng-show='submitted')
          span(ng-show='stuForm.local_address.$error.required' style='color: red;') *required.
      .clearfix
    .form-group(ng-show='valid')
      .col-xs-4.col-sm-4.col-md-4(style='margin-bottom: 1%;')
        div
          | Permanent Address
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8(style='margin-bottom: 1%;')
        input#permanent_address.form-control(name='permanent_address' placeholder='Enter your permanent address' ng-model='guestdetails.permanent_address' type='text' required='')
        span(ng-show='submitted')
          span(ng-show='stuForm.permanent_address.$error.required' style='color: red;') *required.
        .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Father&apos;s Name
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#father_name.form-control(name='father_name' placeholder="Father's Name" ng-keydown='alphaValidate($event)' max='16' maxlength='16' ng-model='guestdetails.father_name' type='text' required='')
        span(ng-show='submitted')
          span(ng-show='stuForm.father_name.$error.required' style='color: red;') *required.
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Father&apos;s Contact No.
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#f_mobile.form-control(name='f_mobile' placeholder="Enter father's contact no." ng-keydown='numValidate($event)' max='10' maxlength='10' ng-model='guestdetails.f_mobile' type='text' required='')
        span(ng-show='submitted')
          span(ng-show='stuForm.f_mobile.$error.required' style='color: red;') *required.
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div Father&apos;s Email Id
      .col-xs-8.col-sm-8.col-md-8
        input#f_email.form-control(name='f_email' placeholder="Enter father's Email address" ng-model='guestdetails.f_email' type='text')
      .clearfix
    .form-group(ng-show='valid')
      .col-xs-4.col-sm-4.col-md-4(style='margin-bottom: 1%;')
        div
          | Mother&apos;s Name
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8(style='margin-bottom: 1%;')
        input#mother_name.form-control(name='mother_name' placeholder="Enter Mother's Name" ng-model='guestdetails.mother_name' type='text' required='')
        span(ng-show='submitted')
          span(ng-show='stuForm.mother_name.$error.required' style='color: red;') *required.
        .clearfix
    .form-group(ng-show='valid')
      .col-xs-4.col-sm-4.col-md-4
        div Mother&apos;s Contact No.
      .col-xs-8.col-sm-8.col-md-8
        input#m_mobile.form-control(name='m_mobile' placeholder="Enter mother's contact No" ng-model='guestdetails.m_mobile' ng-keydown='numValidate($event)' max='10' maxlength='10' type='text')
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div Mother&apos;s Email Id
      .col-xs-8.col-sm-8.col-md-8
        input#m_email.form-control(name='m_email' placeholder="Enter mother's Email address" ng-model='guestdetails.m_email' type='text')
      .clearfix
    .form-group(ng-show='valid')
      .col-xs-4.col-sm-4.col-md-4
        div Semester
      .col-xs-8.col-sm-8.col-md-8
        select#semester.form-control(name='semester' ng-model='guestdetails.semester' ng-change='getSemesterVal(guestdetails.semester)')
          option(value='') select
          option(value='I') I
          option(value='II') II
          option(value='III') III 
          option(value='IV') IV 
          option(value='V') V 
          option(value='VI') VI 
      .clearfix
    .form-group
      .col-xs-12.col-sm-12.col-md-12
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th(colspan='9') Marks Secured in Semester I
              tr(style='color: aquamarine;')
                th Subject
                th 1
                th 2
                th 3
                th 4
            tbody
              tr
                td Marks Secured
                td
                  input#sem1_marks1.form-control(name='sem1_marks1' placeholder='' ng-required='req1' ng-model='guestdetails.sem1_marks1' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem1_marks1.$error.required' style='color: red;') *required.
                td
                  input#sem1_marks2.form-control(name='sem1_marks2' placeholder='' ng-required='req1' ng-model='guestdetails.sem1_marks2' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem1_marks2.$error.required' style='color: red;') *required.
                td
                  input#sem1_marks3.form-control(name='sem1_marks3' placeholder='' ng-required='req1' ng-model='guestdetails.sem1_marks3' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem1_marks3.$error.required' style='color: red;') *required.
                td
                  input#sem1_marks4.form-control(name='sem1_marks4' placeholder='' ng-required='req1' ng-model='guestdetails.sem1_marks4' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem1_marks4.$error.required' style='color: red;') *required.
    .form-group
      .col-xs-12.col-sm-12.col-md-12
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th(colspan='9') Marks Secured in Semester II
              tr(style='color: aquamarine;')
                th Subject
                th 1
                th 2
                th 3
                th 4
            tbody
              tr
                td Marks Secured
                td
                  input#sem2_marks1.form-control(name='sem2_marks1' placeholder='' ng-required='req2' ng-model='guestdetails.sem2_marks1' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem2_marks1.$error.required' style='color: red;') *required.
                td
                  input#sem2_marks2.form-control(name='sem2_marks2' placeholder='' ng-required='req2' ng-model='guestdetails.sem2_marks2' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem2_marks2.$error.required' style='color: red;') *required.
                td
                  input#sem2_marks3.form-control(name='sem2_marks3' placeholder='' ng-required='req2' ng-model='guestdetails.sem2_marks3' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem2_marks3.$error.required' style='color: red;') *required.
                td
                  input#sem2_marks4.form-control(name='sem2_marks4' placeholder='' ng-required='req2' ng-model='guestdetails.sem2_marks4' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem2_marks4.$error.required' style='color: red;') *required.
    .form-group
      .col-xs-12.col-sm-12.col-md-12
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th(colspan='9') Marks Secured in Semester III
              tr(style='color: aquamarine;')
                th Subject
                th 1
                th 2
                th 3
                th 4
                th 5
            tbody
              tr
                td Marks Secured
                td
                  input#sem3_marks1.form-control(name='sem3_marks1' placeholder='' ng-required='req3' ng-model='guestdetails.sem3_marks1' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem3_marks1.$error.required' style='color: red;') *required.
                td
                  input#sem3_marks2.form-control(name='sem3_marks2' placeholder='' ng-required='req3' ng-model='guestdetails.sem3_marks2' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem3_marks2.$error.required' style='color: red;') *required.
                td
                  input#sem3_marks3.form-control(name='sem3_marks3' placeholder='' ng-required='req3' ng-model='guestdetails.sem3_marks3' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem3_marks3.$error.required' style='color: red;') *required.
                td
                  input#sem3_marks4.form-control(name='sem3_marks4' placeholder='' ng-required='req3' ng-model='guestdetails.sem3_marks4' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem3_marks4.$error.required' style='color: red;') *required.
                td
                  input#sem3_marks5.form-control(name='sem3_marks5' placeholder='' ng-required='req3' ng-model='guestdetails.sem3_marks5' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem3_marks5.$error.required' style='color: red;') *required.
    .form-group
      .col-xs-12.col-sm-12.col-md-12
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th(colspan='9') Marks Secured in Semester IV
              tr(style='color: aquamarine;')
                th Subject
                th 1
                th 2
                th 3
                th 4
                th 5
            tbody
              tr
                td Marks Secured
                td
                  input#sem4_marks1.form-control(name='sem4_marks1' placeholder='' ng-required='req4' ng-model='guestdetails.sem4_marks1' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem4_marks1.$error.required' style='color: red;') *required.
                td
                  input#sem4_marks2.form-control(name='sem4_marks2' placeholder='' ng-required='req4' ng-model='guestdetails.sem4_marks2' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem4_marks2.$error.required' style='color: red;') *required.
                td
                  input#sem4_marks3.form-control(name='sem4_marks3' placeholder='' ng-required='req4' ng-model='guestdetails.sem4_marks3' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem4_marks3.$error.required' style='color: red;') *required.
                td
                  input#sem4_marks4.form-control(name='sem4_marks4' placeholder='' ng-required='req4' ng-model='guestdetails.sem4_marks4' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem4_marks4.$error.required' style='color: red;') *required.
                td
                  input#sem4_marks5.form-control(name='sem4_marks5' placeholder='' ng-required='req4' ng-model='guestdetails.sem4_marks5' type='text')
                  span(ng-show='submitted')
                    span(ng-show='stuForm.sem4_marks5.$error.required' style='color: red;') *required.
    .form-group
      .col-xs-offset-2.col-sm-offset-2.col-md-offset-2.col-xs-8.col-sm-8.col-md-8.text-center
        button.btn.btn-primary(type='submit' style='color: white;' ng-click='submitted=true') Proceed to Pay
