doctype html
html
  head
    style(type='text/css').
      .top-head{
      background-color: #F4F4F4;
      height: 10%;
      font-size: 1.5em;
      size: 2;
      line-height: 3;
      }
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
      .openSans * {
      font-family: 'Open Sans', sans-serif;
      height: 100%;
      color: gray;
      }
      .main{
      height: 100%;
      }
      .top-head-image img{
      margin-top: -3%;
      width: 6%;
      }
      .form-group{
      margin:10px;
      }
      .form-group .btn{
      margin-top: 25px;
      padding:5px;
      }
      .icon{
      height: 25px;
      margin-right: 20px;
      margin-left: 50px;
      vertical-align: -5px;
      }
      .icon-box{
      cursor: pointer;
      }
      .icon-box-selected{
      border: 1px solid black;
      }
      .icon-box-unselected{
      border: 1px solid #e3e3e3;
      }
  body.container-fluid
    .row.main.openSans
      .col-xs-12.col-sm-12.col-md-12
        .row.text-center.top-head
          .col-xs-12.col-sm-12.col-md-12
            br
        .row.text-center.top-head-image
          .col-xs-12.col-sm-12.col-md-12.text-center
            img(src='/feepayment/images/fp/04.png')
        .row.text-center.top-head-image
          .col-xs-12.col-sm-12.col-md-12.text-center
            span Pay Your fee
      .clearfix
      form.form(role='form', name='stuForm', novalidate='')
        .form-group
          .col-xs-4.col-sm-4.col-md-4
            div Select your fee
          .col-xs-8.col-sm-8.col-md-8
            select#miscfee.form-control(name='miscfee', ng-options='item as item.fees[0].fee_name for item in miscfees track by item.fee_id', ng-model='miscfee', ng-change='selectFee()')
              option(value='') Select your fee
            div(style='color: red', ng-show='stuForm.miscfee.$error.required && stuForm.miscfee.$dirty') Please select the fee
          .clearfix
        .form-group
          .col-xs-4.col-sm-4.col-md-4
            div Amount 
          .col-xs-8.col-sm-8.col-md-8
            input#amount.form-control(placeholder='Amount', name='Amount', ng-model='amount', type='number', readonly='true', ng-required='true', ng-readonly='!misc.partial_payment')
            div(style='color: red', ng-show='stuForm.amount.$invalid && stuForm.amount.$dirty') Please enter the amount
          .clearfix
        .form-group(ng-show='payThroughPayu')
          .col-xs-offset-5.col-sm-offset-5.col-md-offset-5.col-xs-8.col-sm-8.col-md-8
            .btn.btn-primary(ng-click='stuForm.$valid && pay()', style='color: white;width: 100px') Pay
        div(ng-show='payThroughMobikwik')
          .container(style='margin-top: 30px; margin-left: 60px;')
            .row
              .col-sm-12
                .row
                  //
                    <div class="col-md-4 col-md-offset-1">
                    <div id="CCONLY" ng-click="paymentMode('CCONLY')" class="well icon-box">
                    <h4 class="text-danger"><img src="/feepayment/images/fp/credit-card.png" class="icon"> Credit Card<span class="label pull-right"></span></h4>
                    </div>
                    </div>
                  .col-md-4.col-md-offset-4
                    #NETBANKING.well.icon-box(ng-click="paymentMode('NETBANKING')")
                      h4.text-danger
                        img.icon(src='/feepayment/images/fp/netbanking.png')
                        |  Net Banking 
                        span.label.pull-right
                // /row
              // /col-12
            // /row
            //
              <div class="row">
              <div class="col-sm-12">
              <div class="row">
              <div class="col-md-4 col-md-offset-1">
              <div id="DCONLY" ng-click="paymentMode('DCONLY')" class="well icon-box">
              <h4 class="text-danger"><img src="/feepayment/images/fp/debit-card.png" class="icon"> Debit Card<span class="label pull-right"></span></h4>
              </div>
              </div>
              <div class="col-md-4 col-md-offset-1">
              <div id="UPI" ng-click="paymentMode('UPI')" class="well icon-box">
              <h4 class="text-danger"><img src="/feepayment/images/fp/upi.png" class="icon"> UPI<span class="label pull-right"></span></h4>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
            .clearfix
            .form-group
              .col-xs-offset-5.col-sm-offset-5.col-md-offset-5.col-xs-8.col-sm-8.col-md-8
                .btn.btn-primary(ng-click='stuForm.$valid && payByMobikwik()', style='color: white;width: 100px') Pay
    .clearfix
