doctype html
head
  style(type='text/css').
    .top-head {
    background-color: #F4F4F4;
    height: 10%;
    font-size: 1.5em;
    size: 2;
    line-height: 3;
    }
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
    .openSans * {
    font-family: 'Open Sans', sans-serif;
    color: gray;
    }
    .main {
    height: 100%;
    }
    .top-head-image img {
    margin-top: -3%;
    width: 6%;
    }
    .form-group {
    margin: 10px;
    }
    .form-group .btn {
    margin-top: 25px;
    padding: 5px;
    }
    .marginT30px {
    margin-top: 30px;
    }
    .formStyle {
    background-color: white;
    border-radius: 4px;
    }
    .textInput {
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: black
    }
    .textInput:focus {
    border-color: green
    }
    a {
    color: blue !important;
    }
    .tdMargin {
    margin-bottom: 5px;
    }
    .textarea {
    width: 150px !important;
    }
.row.main.openSans
  .col-xs-12.col-sm-12.col-md-12
    .row.text-center.top-head
      .col-xs-12.col-sm-12.col-md-12
    .row.text-center.top-head-image
      .col-xs-12.col-sm-12.col-md-12.text-center
        label APPLICATION FORM
    .clearfix
    .row.text-center.top-head-image
      .col-xs-12.col-sm-12.col-md-12.text-center
        label FOR ADD-ON/SHORT-TERM/CERTIFICATE/DIPLOMA COURSES, 2018-19
    .clearfix
    .form-group
      .col-xs-12.col-sm-12.col-md-12
        ul
          li Fill the Registration form and Click on proceed to pay
          li
            | Select INR 500 for Registration (of Add-on Courses) and INR 1000 For Registration (of Financial Modelling and IFRS Course)
          li
            | After making the payment, take the Print out the Invoice and Registration Form (As proof).
          li
            | List of selected students shall be published after registration process is complete.
          li
            | All selected students shall be required to visit (
            a(href='https://kryptosda.kryptosmobile.com/feepayment/guest/#/gmf?t=LaxmiBai' target='_blank') Website Payment Link
            |  or 
            a(href='https://play.google.com/store/apps/details?id=com.kryptosmobile.LakshmiBai' target='_blank') Mobile Payment Link
            |  ) to make the course fee payment.
          li
            | After making the course fee payment, Submit the Invoice, Registration form and other docs in the college.
      //
        <div class="dec-body">
        Application form along with a <b>Registration fee of Rs 500/- (Registration Fee of Rs 1000/- for IFRS Course and Financial Modelling
        and Valuation Course)</b> payable to <b>LBC A/C Short term Courses & Ext. </b> should be submitted to Lakshmibai College latest by <b>July 30,
        2018.</b> (Please read guidelines and bank details carefully before filling the form)
        </div>
      .clearfix
    form.form.marginT30px.formStyle(role='form' name='stuForm' novalidate='' ng-submit='next(stuForm.$valid)')
      input(type='hidden' name='form_for' value='{{guestdetails.form_for}}' ng-init="guestdetails.form_for='admission'" ng-model='guestdetails.form_for')
      input(type='hidden' name='form_for' value='{{guestdetails.en_no}}' ng-init="guestdetails.en_no='n/a'" ng-model='guestdetails.en_no')
      input(type='hidden' name='form_for' value='{{guestdetails.semester}}' ng-init="guestdetails.semester='n/a'" ng-model='guestdetails.semester')
      .clearfix
      .form-group
        .col-xs-4.col-sm-4.col-md-4
          div
            | Name of the Candidate (in block letters)
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#firstname.form-control(name='firstname' placeholder='Name' ng-model='guestdetails.name' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.firstname.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-12.col-sm-12.col-md-12
          div Course Choice/Options in order of preference
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div Preference 1
        .col-xs-8.col-sm-8.col-md-8
          select#preference1.form-control(name='preference1' ng-model='guestdetails.preference1')
            option(value='') select
            option(value='Diploma In Language Course (Spanish)') Diploma In Language Course (Spanish)
            option(value='Diploma In Language Course (German)') Diploma In Language Course (German)
            option(value='Diploma In Language Course (French)') Diploma In Language Course (French)
            option(value='Diploma In Language Course (Chinese)') Diploma In Language Course (Chinese)&nbsp;
            option(value='Diploma In Language Course (Japanese)') Diploma In Language Course (Japanese)&nbsp;
            //- option(value='Certificate In Language Course (Spanish)') Certificate In Language Course (Spanish)
            //- option(value='Certificate In Language Course (German)') Certificate In Language Course (German)
            //- option(value='Certificate In Language Course (French)') Certificate In Language Course (French)
            //- option(value='Certificate In Language Course (Chinese)') Certificate In Language Course (Chinese)&nbsp;
            //- option(value='Certificate In Language Course (Korean)') Certificate In Language Course (Korean)
            //- option(value='Certificate In Language Course (Japanese)') Certificate In Language Course (Japanese)&nbsp;
            option(value='Advanced Excel') Advanced Excel
            option(value='Women and Legal Literacy') Women and Legal Literacy
            option(value='Certificate Course in International Financial Reporting Standards (IFRS)') Certificate Course in International Financial Reporting Standards (IFRS)
            option(value='Certificate Course in Financial Modeling & Valuation') Certificate Course in Financial Modeling &amp; Valuation
            option(value='Certificate Course in MS Office') Certificate Course in MS Office
            option(value='Certificate Course in Advanced Excel') Certificate Course in Advanced Excel
            option(value='Certificate Course in 2D & 3D and Stop Motion Courses') Certificate Course in 2D &amp; 3D and Stop Motion Courses
            option(value='Certificate Course in English Communication and Personality Development') Certificate Course in English Communication and Personality Development
            option(value='No') No
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div Preference 2
        .col-xs-8.col-sm-8.col-md-8
          select#preference2.form-control(name='preference2' ng-model='guestdetails.preference2')
            option(value='') select
            option(value='Diploma In Language Course (Spanish)') Diploma In Language Course (Spanish)
            option(value='Diploma In Language Course (German)') Diploma In Language Course (German)
            option(value='Diploma In Language Course (French)') Diploma In Language Course (French)
            option(value='Diploma In Language Course (Chinese)') Diploma In Language Course (Chinese)&nbsp;
            option(value='Diploma In Language Course (Japanese)') Diploma In Language Course (Japanese)&nbsp;
            //- option(value='Certificate In Language Course (Spanish)') Certificate In Language Course (Spanish)
            //- option(value='Certificate In Language Course (German)') Certificate In Language Course (German)
            //- option(value='Certificate In Language Course (French)') Certificate In Language Course (French)
            //- option(value='Certificate In Language Course (Chinese)') Certificate In Language Course (Chinese)&nbsp;
            //- option(value='Certificate In Language Course (Korean)') Certificate In Language Course (Korean)
            //- option(value='Certificate In Language Course (Japanese)') Certificate In Language Course (Japanese)&nbsp;
            option(value='Advanced Excel') Advanced Excel
            option(value='Women and Legal Literacy') Women and Legal Literacy
            option(value='Certificate Course in International Financial Reporting Standards (IFRS)') Certificate Course in International Financial Reporting Standards (IFRS)
            option(value='Certificate Course in Financial Modeling & Valuation') Certificate Course in Financial Modeling &amp; Valuation
            option(value='Certificate Course in MS Office') Certificate Course in MS Office
            option(value='Certificate Course in Advanced Excel') Certificate Course in Advanced Excel
            option(value='Certificate Course in 2D & 3D and Stop Motion Courses') Certificate Course in 2D &amp; 3D and Stop Motion Courses
            option(value='Certificate Course in English Communication and Personality Development') Certificate Course in English Communication and Personality Development
            option(value='No') No
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div Preference 3
        .col-xs-8.col-sm-8.col-md-8
          select#preference3.form-control(name='preference3' ng-model='guestdetails.preference3')
            option(value='') select
            option(value='Diploma In Language Course (Spanish)') Diploma In Language Course (Spanish)
            option(value='Diploma In Language Course (German)') Diploma In Language Course (German)
            option(value='Diploma In Language Course (French)') Diploma In Language Course (French)
            option(value='Diploma In Language Course (Chinese)') Diploma In Language Course (Chinese)&nbsp;
            option(value='Diploma In Language Course (Japanese)') Diploma In Language Course (Japanese)&nbsp;
            //- option(value='Certificate In Language Course (Spanish)') Certificate In Language Course (Spanish)
            //- option(value='Certificate In Language Course (German)') Certificate In Language Course (German)
            //- option(value='Certificate In Language Course (French)') Certificate In Language Course (French)
            //- option(value='Certificate In Language Course (Chinese)') Certificate In Language Course (Chinese)&nbsp;
            //- option(value='Certificate In Language Course (Korean)') Certificate In Language Course (Korean)
            //- option(value='Certificate In Language Course (Japanese)') Certificate In Language Course (Japanese)&nbsp;
            option(value='Advanced Excel') Advanced Excel
            option(value='Women and Legal Literacy') Women and Legal Literacy
            option(value='Certificate Course in International Financial Reporting Standards (IFRS)') Certificate Course in International Financial Reporting Standards (IFRS)
            option(value='Certificate Course in Financial Modeling & Valuation') Certificate Course in Financial Modeling &amp; Valuation
            option(value='Certificate Course in MS Office') Certificate Course in MS Office
            option(value='Certificate Course in Advanced Excel') Certificate Course in Advanced Excel
            option(value='Certificate Course in 2D & 3D and Stop Motion Courses') Certificate Course in 2D &amp; 3D and Stop Motion Courses
            option(value='Certificate Course in English Communication and Personality Development') Certificate Course in English Communication and Personality Development
            option(value='No') No
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div
            | Date of Birth
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          .row
            .col-xs-12.col-sm-2.col-md-2
              select#dd.form-control(name='ddd' placeholder='DD' required='' ng-model='guestdetails.dob.dd')
                option(value='') dd
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
                option(value='6') 6
                option(value='7') 7
                option(value='8') 8
                option(value='9') 9
                option(value='10') 10
                option(value='11') 11
                option(value='12') 12
                option(value='13') 13
                option(value='14') 14
                option(value='15') 15
                option(value='16') 16
                option(value='17') 17
                option(value='18') 18
                option(value='19') 19
                option(value='20') 20
                option(value='21') 21
                option(value='22') 22
                option(value='23') 23
                option(value='24') 24
                option(value='25') 25
                option(value='26') 26
                option(value='27') 27
                option(value='28') 28
                option(value='29') 29
                option(value='30') 30
                option(value='31') 31
              span(ng-show='submitted')
                span(ng-show='stuForm.dd.$error.required' style='color: red;') *required.
            .col-xs-12.col-sm-2.col-md-2
              select#mm.form-control(name='mm' placeholder='mm' required='' ng-model='guestdetails.dob.mm')
                option(value='') mm
                option(value='1') Jan
                option(value='2') Feb
                option(value='3') Mar
                option(value='4') Apr
                option(value='5') May
                option(value='6') Jun
                option(value='7') Jul
                option(value='8') Aug
                option(value='9') Sep
                option(value='10') Oct
                option(value='11') Nov
                option(value='12') Dec
              span(ng-show='submitted')
                span(ng-show='stuForm.mm.$error.required' style='color: red;') *required.
            .col-xs-12.col-sm-2.col-md-2
              select#yy.form-control(name='yy' placeholder='yyyy' required='' ng-model='guestdetails.dob.yyyy')
                option(value='') yyyy
                option(value='1951') 1951
                option(value='1952') 1952
                option(value='1953') 1953
                option(value='1954') 1954
                option(value='1955') 1955
                option(value='1956') 1956
                option(value='1957') 1957
                option(value='1958') 1958
                option(value='1959') 1959
                option(value='1960') 1960
                option(value='1961') 1961
                option(value='1962') 1962
                option(value='1963') 1963
                option(value='1964') 1964
                option(value='1965') 1965
                option(value='1966') 1966
                option(value='1967') 1967
                option(value='1968') 1968
                option(value='1969') 1969
                option(value='1970') 1970
                option(value='1971') 1971
                option(value='1972') 1972
                option(value='1973') 1973
                option(value='1974') 1974
                option(value='1975') 1975
                option(value='1976') 1976
                option(value='1977') 1977
                option(value='1978') 1978
                option(value='1979') 1979
                option(value='1980') 1980
                option(value='1981') 1981
                option(value='1982') 1982
                option(value='1983') 1983
                option(value='1984') 1984
                option(value='1985') 1985
                option(value='1986') 1986
                option(value='1987') 1987
                option(value='1988') 1988
                option(value='1989') 1989
                option(value='1990') 1990
                option(value='1991') 1991
                option(value='1992') 1992
                option(value='1993') 1993
                option(value='1994') 1994
                option(value='1995') 1995
                option(value='1996') 1996
                option(value='1997') 1997
                option(value='1998') 1998
                option(value='1999') 1999
                option(value='2000') 2000
                option(value='2001') 2001
                option(value='2002') 2002
                option(value='2003') 2003
                option(value='2004') 2004
                option(value='2005') 2005
                option(value='2006') 2006
              span(ng-show='submitted')
                span(ng-show='stuForm.yy.$error.required' style='color: red;') *required.
        .clearfix
      .form-group
        .col-xs-4.col-sm-4.col-md-4
          div
            | Father&apos;s Name
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#father_name.form-control(name='father_name' placeholder="Father's Name" ng-model='guestdetails.father_name' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.father_name.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div
            | Mother&apos;s Name
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#mother_name.form-control(name='mother_name' placeholder="Enter Mother's Name" ng-model='guestdetails.mother_name' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.mother_name.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div
            | Contact Address
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#contact_address.form-control(name='contact_address' placeholder='Enter Your Address' ng-model='guestdetails.contact_address' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.contact_address.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div 
            | Tel No.
            span(style='color: red;') *
        .col-xs-2.col-sm-2.col-md-2
          input#mobile.form-control(name='mobile' ng-keydown='numValidate($event)' max='10' maxlength='10' ng-model='guestdetails.mobile' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.mobile.$error.required' style='color: red;') *required.
        .col-xs-2.col-sm-2.col-md-2
          div E-mail ID
        .col-xs-2.col-sm-2.col-md-2
          input#email.form-control(name='email' placeholder='' ng-model='guestdetails.email' type='text')
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div
            | Permanent Address
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#perm_address.form-control(name='perm_address' placeholder='Enter Your Address' ng-model='guestdetails.perm_address' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.contact_address.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-12.col-sm-12.col-md-12
          .table-responsive
            table.table.table-bordered
              thead
                tr
                  th(colspan='9') Academic Record
                tr(style='color: aquamarine;')
                  th Class 12
                  th Year of Passing
                  th Board/University
                  th Max. Marks
                  th Marks Obtained
                  th %
                  th Subjects Studied
              tbody
                tr
                  td
                  td
                    input#hs_year.form-control(name='hs_year' placeholder='Year' ng-model='guestdetails.hs_year' ng-keydown='numValidate($event)' max='4' maxlength='4' type='text')
                  td
                    select#hs_school.form-control(name='hs_school' ng-model='guestdetails.hs_school')
                      option(value='') select
                      option(value='UP Board') UP Board
                      option(value='CBSE Board') CBSE Board
                      option(value='ICSE Board') ICSE Board
                      option(value='NIOS') NIOS
                      option(value='EX-UP') EX-UP
                      option(value='CCS University') CCS University
                      option(value='Other University') Other University
                      option(value='Other State University') Other State University
                  td
                    input#hs_max_marks.form-control(name='hs_max_marks' placeholder='Maximum Marks' ng-model='guestdetails.hs_max_marks' type='text')
                  td
                    input#hs_marks_obtained.form-control(name='hs_marks_obtained' placeholder='Marks obtained' ng-model='guestdetails.hs_marks_obtained' type='text')
                  td
                    input#hs_percentage.form-control(name='hs_percentage' placeholder='Percentage' ng-model='guestdetails.hs_percentage' type='text')
                  td
                    input#hs_subjects.form-control(name='hs_subjects' placeholder='Subjects' ng-model='guestdetails.hs_subjects' type='text')
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div  Last Exam Cleared
        .col-xs-8.col-sm-8.col-md-8
          input#lastExam.form-control(name='lastExam' placeholder='' ng-model='guestdetails.lastExam' type='text')
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div  If currently a student, name of institution and course
        .col-xs-8.col-sm-8.col-md-8
          input#inst_course.form-control(name='inst_course' placeholder='' ng-model='guestdetails.inst_course' type='text')
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div
            | If employed, name of employer and designation (Attach No-objection certificate from the employer)
        .col-xs-8.col-sm-8.col-md-8
          input#emp_designation.form-control(name='emp_designation' placeholder='' ng-model='guestdetails.emp_designation' type='text')
        .clearfix
      //
        <div class="form-group" ng-show="valid">
        <div class="col-xs-12 col-sm-12 col-md-12">
        <div> Details of the Registration fee submitted along with the application form</div>
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="form-group" ng-show="valid">
        <div class="col-xs-4 col-sm-4 col-md-4">
        <div>Form of Payment (DD/Cheque/NEFT).</div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
        <input class="textInput form-control" id="payment_form" name="payment_form" ng-model="guestdetails.payment_form" type="text">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
        <div>Receipt No </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
        <input class="textInput form-control" id="receipt_no" name="receipt_no" ng-model="guestdetails.receipt_no" type="text">
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="form-group" ng-show="valid">
        <div class="col-xs-4 col-sm-4 col-md-4">
        <div>Name of Bank</div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
        <input class="textInput form-control" id="bank_name" name="bank_name" ng-model="guestdetails.bank_name" type="text">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
        <div>Branch</div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2">
        <input class="textInput form-control" id="branch" name="branch" ng-model="guestdetails.branch" type="text">
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="form-group" ng-show="valid">
        <div class="col-xs-4 col-sm-4 col-md-4">
        <div>Date</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4"><select class="form-control" id="dd" name="ddd" placeholder="DD" ng-model="guestdetails.date.dd"><option value="">dd</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4"><select class="form-control" id="mm" name="mm" placeholder="mm" ng-model="guestdetails.date.mm"><option value="">mm</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4"><select class="form-control" id="yy" name="yy" placeholder="yyyy" ng-model="guestdetails.date.yyyy"><option value="">yyyy</option><option value="1951">1951</option><option value="1952">1952</option><option value="1953">1953</option><option value="1954">1954</option><option value="1955">1955</option><option value="1956">1956</option><option value="1957">1957</option><option value="1958">1958</option><option value="1959">1959</option><option value="1960">1960</option><option value="1961">1961</option><option value="1962">1962</option><option value="1963">1963</option><option value="1964">1964</option><option value="1965">1965</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option></select>
        </div>
        </div>
        </div>
        <div class="clearfix"></div>
        </div>
      .form-group(ng-show='valid')
        .col-xs-12.col-sm-12.col-md-12
          label
            | Note: Attested copies of the following certificates to be submitted only at the time of admission after being duly
            | verified with the originals:
        .col-xs-8.col-sm-8.col-md-8
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-8.col-sm-8.col-md-8
          input.marginR10px(type='checkbox' ng-model='guestdetails.schoolMarkSheet' name='tnc')
          |  Marks statement for Class 12 examination passed by the candidate
        .col-xs-4.col-sm-4.col-md-4.text-left
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-8.col-sm-8.col-md-8
          input.marginR10px(type='checkbox' ng-model='guestdetails.noObjectionCert' name='tnc')
          |  No objection certificate from the Employer, if employed
        .col-xs-4.col-sm-4.col-md-4.text-left
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-8.col-sm-8.col-md-8
          input.marginR10px(type='checkbox' ng-model='guestdetails.bankReceipt' name='tnc')
          |  A copy of fee receipt from the bank
        .col-xs-4.col-sm-4.col-md-4.text-left
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-8.col-sm-8.col-md-8
          input.marginR10px(type='checkbox' ng-model='guestdetails.aadharCard' name='tnc')
          |  A self-attested copy of Aadhar Card/Passport/Photo ID with address proof
        .col-xs-4.col-sm-4.col-md-4.text-left
        .clearfix
      .form-group(style='margin-top: 30px;')
        .text-center
          strong  UNDERTAKING 
        .dec-body
          | The particulars furnished above are true and complete in all respects and I agree that my candidature may be cancelled if I have given any false information.
          br
          |  I submit myself to the disciplinary jurisdiction of the several authorities of the University
          |         of Delhi who may be vested with the authority to exercise discipline under the Act, the Statutes, the Ordinances and the Rules framed by the University.
        .clearfix
      .form-group
        .col-xs-offset-2.col-sm-offset-2.col-md-offset-2.col-xs-8.col-sm-8.col-md-8.text-center
          button.btn.btn-primary(type='submit' style='color: white;' ng-click='submitted=true') Proceed to Pay
          // <div ng-click="stuForm.$valid && next()" style="color: white;" class="btn btn-primary">Proceed to Pay</div>
  .clearfix
