doctype html
head
  style(type='text/css').
    .top-head {
    background-color: #F4F4F4;
    height: 10%;
    font-size: 1.5em;
    size: 2;
    line-height: 3;
    }
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
    .openSans * {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: gray;
    }
    .main {
    height: 100%;
    }
    .top-head-image img {
    margin-top: -3%;
    width: 6%;
    }
    .form-group {
    margin: 10px;
    }
    .form-group .btn {
    margin-top: 25px;
    padding: 5px;
    }
    .marginT30px {
    margin-top: 30px;
    }
.row.main.openSans
  .col-xs-12.col-sm-12.col-md-12
    .row.text-center.top-head
      .col-xs-12.col-sm-12.col-md-12
    .row.text-center.top-head-image
      .col-xs-12.col-sm-12.col-md-12.text-center
        img(src='/feepayment/images/fp/04.png')
      .col-xs-12.col-sm-12.col-md-12.text-center Fee Payment
  .clearfix
  form.form.marginT30px(role='form', name='stuForm', novalidate='', ng-submit='next(stuForm.$valid)')
    .form-group(ng-show="$root.td.tenant=='JVJAIN'")
      .col-xs-4.col-sm-4.col-md-4
        div Admission Type
      .col-xs-8.col-sm-8.col-md-8
        select#admType.form-control(name='admType', ng-model='guestdetails.admType')
          option(value='') Admission Type
          option(value='REGULAR') Regular
          option(value='PRIVATE') Private 
          option(value='SELFFINANCED') Self Financed
        div(style='color: red;', ng-show='stuForm.name.$invalid && stuForm.name.$dirty') Please enter your name
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Name
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#firstname.form-control(name='name', placeholder='Name', ng-model='guestdetails.name', type='text', ng-required='true')
        div(style='color: red;', ng-show='stuForm.name.$invalid && stuForm.name.$dirty') Please enter your name
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Father&apos;s Name
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#fathername.form-control(name='fathername', placeholder="Father's Name", ng-model='guestdetails.father_name', type='text', ng-required='true')
        div(style='color: red;', ng-show='stuForm.fathername.$invalid && stuForm.fathername.$dirty') Please enter your Father&apos;s name
      .clearfix
    .form-group(ng-show="tenant == 'UOK'")
      .col-xs-4.col-sm-4.col-md-4
        div
          | Application ID
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#appID.form-control(name='appID', placeholder='Application ID', ng-model='guestdetails.appID', type='text', ng-required="tenant == 'UOK'")
        div(style='color: red;', ng-show='stuForm.appID.$invalid && stuForm.appID.$dirty') Please enter Application ID
      .clearfix
    .form-group(ng-hide="tenant == 'UOK'")
      .col-xs-4.col-sm-4.col-md-4
        div(ng-show="tenant=='LaxmiBai'")
          | College Roll Number
          span(style='color: red;') *
        div(ng-show="tenant=='JVJAIN'") College ID
        div(ng-show="tenant=='RLS'") Application No.
        div(ng-show="tenant != 'JVJAIN' && tenant != 'LaxmiBai' && tenant != 'RLS'")
          | Roll No/Enrollment No 
          span(ng-show="tenant== 'MAMC'", style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#enroll_no.form-control(name='en_no', placeholder='eg. 2016/921', ng-model='guestdetails.enrollment_no', type='text', ng-required="tenant=='LaxmiBai'", ng-show="tenant=='LaxmiBai'")
        input#enroll_no.form-control(name='en_no', placeholder='Enrollment No', ng-model='guestdetails.enrollment_no', type='text', ng-show="tenant != 'LaxmiBai'")
        div(style='color: red;', ng-show='stuForm.en_no.$invalid && stuForm.en_no.$dirty') Please enter your enrollment no
      .clearfix
    .form-group(ng-hide="tenant == 'UOK' || tenant == 'LaxmiBai'")
      .col-xs-4.col-sm-4.col-md-4
        div(ng-show="tenant != 'RLS'") University Registration No.
        div(ng-show="tenant=='RLS'") Rank
      .col-xs-8.col-sm-8.col-md-8
        input#roll_no.form-control(name='roll_no', placeholder='University Roll No', ng-model='guestdetails.roll_no', type='text')
        div(style='color: red;', ng-show='stuForm.roll_no.$invalid && stuForm.roll_no.$dirty') Please enter your University Registration No.
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div Subject
      .col-xs-8.col-sm-8.col-md-8
        input#subject.form-control(name='subject', placeholder='Subject', ng-model='guestdetails.subject', type='text', ng-show="tenant != 'MAMC'")
        select#year.form-control(name='subject', ng-show="tenant== 'MAMC'", ng-model='guestdetails.subject')
          option(value='') Choose subject
          option(value='MBBS') MBBS
        div(style='color: red;', ng-show='stuForm.subject.$invalid && stuForm.subject.$dirty') Please enter your subject.
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Year
          span(ng-show="tenant== 'MAMC'", style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        select#year.form-control(name='year', placeholder='Year', ng-model='guestdetails.year')
          option(value='') Choose Year
          option(value='1') 1st
          option(value='2') 2nd
          option(value='3') 3rd
          option(value='4') 4th
          option(value='5') 5th
        div(style='color: red;', ng-show='stuForm.year.$invalid && stuForm.year.$dirty') Please enter your Year
      .clearfix
    .form-group(ng-show="tenant != 'DPBS'")
      .col-xs-4.col-sm-4.col-md-4
        div
          | Semester
          span(ng-show="tenant== 'MAMC'", style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        select#semester.form-control(name='semester', placeholder='Semester', ng-model='guestdetails.semester')
          option(value='') Choose semester
          option(value='1') 1st
          option(value='2') 2nd
          option(value='3') 3rd
          option(value='4') 4th
          option(value='5') 5th
          option(value='6') 6th
          option(value='7') 7th
          option(value='8') 8th
          option(value='9', ng-show="tenant== 'VMMC'") 9th
        div(style='color: red;', ng-show='stuForm.semester.$invalid && stuForm.semester.$dirty') Please enter your semester
      .clearfix
    .form-group(ng-show="tenant== 'MAMC'")
      .col-xs-4.col-sm-4.col-md-4
        div DOB
      .col-xs-8.col-sm-8.col-md-8
        .row
          .col-xs-12.col-sm-2.col-md-2
            select#dd.form-control(name='dd', placeholder='DD', ng-model='guestdetails.dob.dd')
              option(value='') dd
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
              option(value='6') 6
              option(value='7') 7
              option(value='8') 8
              option(value='9') 9
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
              option(value='24') 24
              option(value='25') 25
              option(value='26') 26
              option(value='27') 27
              option(value='28') 28
              option(value='29') 29
              option(value='30') 30
              option(value='31') 31
            span(ng-show='submitted')
              span(ng-show='stuForm.dd.$error.required', style='color: red;') *required.
          .col-xs-12.col-sm-2.col-md-2
            select#mm.form-control(name='mm', placeholder='mm', ng-model='guestdetails.dob.mm')
              option(value='') mm
              option(value='1') Jan
              option(value='2') Feb
              option(value='3') Mar
              option(value='4') Apr
              option(value='5') May
              option(value='6') Jun
              option(value='7') Jul
              option(value='8') Aug
              option(value='9') Sep
              option(value='10') Oct
              option(value='11') Nov
              option(value='12') Dec
            span(ng-show='submitted')
              span(ng-show='stuForm.mm.$error.required', style='color: red;') *required.
          .col-xs-12.col-sm-2.col-md-2
            select#yy.form-control(name='yy', placeholder='yyyy', ng-model='guestdetails.dob.yyyy')
              option(value='') yyyy
              option(value='1951') 1951
              option(value='1952') 1952
              option(value='1953') 1953
              option(value='1954') 1954
              option(value='1955') 1955
              option(value='1956') 1956
              option(value='1957') 1957
              option(value='1958') 1958
              option(value='1959') 1959
              option(value='1960') 1960
              option(value='1961') 1961
              option(value='1962') 1962
              option(value='1963') 1963
              option(value='1964') 1964
              option(value='1965') 1965
              option(value='1966') 1966
              option(value='1967') 1967
              option(value='1968') 1968
              option(value='1969') 1969
              option(value='1970') 1970
              option(value='1971') 1971
              option(value='1972') 1972
              option(value='1973') 1973
              option(value='1974') 1974
              option(value='1975') 1975
              option(value='1976') 1976
              option(value='1977') 1977
              option(value='1978') 1978
              option(value='1979') 1979
              option(value='1980') 1980
              option(value='1981') 1981
              option(value='1982') 1982
              option(value='1983') 1983
              option(value='1984') 1984
              option(value='1985') 1985
              option(value='1986') 1986
              option(value='1987') 1987
              option(value='1988') 1988
              option(value='1989') 1989
              option(value='1990') 1990
              option(value='1991') 1991
              option(value='1992') 1992
              option(value='1993') 1993
              option(value='1994') 1994
              option(value='1995') 1995
              option(value='1996') 1996
              option(value='1997') 1997
              option(value='1998') 1998
              option(value='1999') 1999
              option(value='2000') 2000
              option(value='2001') 2001
              option(value='2002') 2002
              option(value='2003') 2003
              option(value='2004') 2004
              option(value='2005') 2005
              option(value='2006') 2006
            span(ng-show='submitted')
              span(ng-show='stuForm.yy.$error.required', style='color: red;') *required.
      .clearfix
    .form-group(ng-show="tenant== 'MAMC'")
      .col-xs-4.col-sm-4.col-md-4
        div Category
      .col-xs-8.col-sm-8.col-md-8
        select#category.form-control(name='category', placeholder='category', ng-model='guestdetails.category')
          option(value='') Choose category
          option(value='UR') UR
          option(value='SC') SC
          option(value='ST') ST
          option(value='OBC') OBC
          option(value='Others') Others
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div Course
      .col-xs-8.col-sm-8.col-md-8
        input#course.form-control(name='course', placeholder='Course', ng-model='guestdetails.course', type='text')
        div(style='color: red;', ng-show='stuForm.course.$invalid && stuForm.course.$dirty') Please enter your course
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Email
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#email.form-control(placeholder='Email', name='email', ng-model='guestdetails.email', ng-required='true', type='email')
        div(style='color: red;', ng-show='stuForm.email.$invalid && stuForm.email.$dirty') Please enter your email id
      .clearfix
    .form-group
      .col-xs-4.col-sm-4.col-md-4
        div
          | Phone
          span(style='color: red;') *
      .col-xs-8.col-sm-8.col-md-8
        input#phone.form-control(placeholder='Phone', name='phone', ng-model='guestdetails.mobile', type='text', ng-required='true')
        div(style='color: red;', ng-show='stuForm.phone.$invalid && stuForm.phone.$dirty') Please enter you phone number
      .clearfix
    .form-group(ng-hide="tenant == 'UOK'")
      .col-xs-4.col-sm-4.col-md-4
        div City
      .col-xs-8.col-sm-8.col-md-8
        input#city.form-control(placeholder='City', name='city', ng-model='guestdetails.city', type='text')
        div(style='color: red;', ng-show='stuForm.city.$error.required && stuForm.city.$dirty') Please enter your city name
      .clearfix
    .form-group(ng-hide="tenant == 'UOK'")
      .col-xs-4.col-sm-4.col-md-4
        div Query
      .col-xs-8.col-sm-8.col-md-8
        textarea#query.form-control(placeholder='Message/Query', name='query', ng-model='guestdetails.query', type='text')
        div(style='color: red;', ng-show='stuForm.query.$invalid && stuForm.query.$dirty') Please enter message
    .clearfix
    .form-group
      .col-xs-offset-4.col-sm-offset-4.col-md-offset-4.col-xs-8.col-sm-8.col-md-8.text-center
        button.btn.btn-primary(type='submit', style='color: white;', ng-click='submitted=true') Proceed to Pay
        // .btn.btn-primary(ng-click='stuForm.$valid && next()', style='color: white;') Proceed to Pay
.clearfix
