doctype html
html
  head
    style(type='text/css').
      .top-head{
      background-color: #F4F4F4;
      height: 10%;
      font-size: 1.5em;
      size: 2;
      line-height: 3;
      }
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
      .openSans * {
      font-family: 'Open Sans', sans-serif;
      height: 100%;
      color: gray;
      }
      .main{
      height: 100%;
      }
      .top-head-image img{
      margin-top: -3%;
      width: 6%;
      }
      .form-group{
      margin:10px;
      }
      .form-group .btn{
      margin-top: 25px;
      padding:5px;
      }
      .marginR10px{
      margin-right:10px;
      }
      .marginT10px{
      margin-top:10px;
      }
      input[type=checkbox]{
      height:auto;
      }
  body.container-fluid
    .row.main.openSans
      .col-xs-12.col-sm-12.col-md-12
        .row.text-center.top-head
          .col-xs-12.col-sm-12.col-md-12
        .row.text-center.top-head-image
          .col-xs-12.col-sm-12.col-md-12.text-center
            img(src='/feepayment/images/fp/04.png')
      .clearfix
      .col-xs-8.col-md-8.col-sm-8.col-lg-8
        form.form(role='form', name='stuForm', novalidate='')
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div Name
            .col-xs-8.col-sm-8.col-md-8
              input#firstname.form-control(name='name', placeholder='name', ng-model='guestdetails.name', type='text', ng-required='true')
              div(style='color: red', ng-show='stuForm.name.$invalid && stuForm.name.$dirty') Please enter your  name
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div Email
            .col-xs-8.col-sm-8.col-md-8
              input#email.form-control(placeholder='email', name='email', ng-model='guestdetails.email', ng-required='true', type='email')
              div(style='color: red', ng-show='stuForm.email.$invalid && stuForm.email.$dirty') Please enter your email id
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div Phone
            .col-xs-8.col-sm-8.col-md-8
              input#phone.form-control(placeholder='phone', name='phone', ng-model='guestdetails.mobile', type='text', ng-required='true')
              div(style='color: red', ng-show='stuForm.phone.$invalid && stuForm.phone.$dirty') Please enter you phone number
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div Post Address
            .col-xs-8.col-sm-8.col-md-8
              textarea#paddress.form-control(placeholder='Postal Address', name='paddress', ng-model='guestdetails.address.postalAddress', type='text', ng-required='true')
              div(style='color: red', ng-show='stuForm.paddress.$error.required && stuForm.paddress.$dirty') Please provide your postal address
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div City
            .col-xs-8.col-sm-8.col-md-8
              input#city.form-control(placeholder='city', name='city', ng-model='guestdetails.address.city', type='text', ng-required='true')
              div(style='color: red', ng-show='stuForm.city.$error.required && stuForm.city.$dirty') Please enter your city name
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div State
            .col-xs-8.col-sm-8.col-md-8
              select#state.form-control(placeholder='State', name='state', ng-model='guestdetails.address.state', ng-required='true')
                option(value='') -
                option(value='ANDAMAN & NICOBAR') ANDAMAN & NICOBAR
                option(value='ANDHRA PRADESH') ANDHRA PRADESH
                option(value='ARUNACHAL PRADESH') ARUNACHAL PRADESH
                option(value='ASSAM') ASSAM
                option(value='BIHAR') BIHAR
                option(value='CHANDIGARH') CHANDIGARH
                option(value='CHATTISGARH') CHATTISGARH
                option(value='DADAR NAGAR HAVELI') DADAR NAGAR HAVELI
                option(value='DAMAN & DIU') DAMAN & DIU
                option(value='DELHI') DELHI
                option(value='GOA') GOA
                option(value='GUJARAT') GUJARAT
                option(value='HARYANA') HARYANA
                option(value='HIMACHAL PRADESH') HIMACHAL PRADESH
                option(value='JAMMU & KASHMIR') JAMMU & KASHMIR
                option(value='JHARKHAND') JHARKHAND
                option(value='KARNATAKA') KARNATAKA
                option(value='KERALA') KERALA
                option(value='LAKSHADWEEP') LAKSHADWEEP
                option(value='MADHYA PRADESH') MADHYA PRADESH
                option(value='MAHARASHTRA') MAHARASHTRA
                option(value='MANIPUR') MANIPUR
                option(value='MEGHALAYA') MEGHALAYA
                option(value='MIZORAM') MIZORAM
                option(value='NAGALAND') NAGALAND
                option(value='ORISSA') ORISSA
                option(value='PONDICHERRY') PONDICHERRY
                option(value='PUNJAB') PUNJAB
                option(value='RAJASTHAN') RAJASTHAN
                option(value='SIKKIM') SIKKIM
                option(value='TAMIL NADU') TAMIL NADU
                option(value='TRIPURA') TRIPURA
                option(value='TELANGANA') TELANGANA
                option(value='UTTAR PRADESH') UTTAR PRADESH
                option(value='UTTARAKHAND') UTTARAKHAND
                option(value='WEST BENGAL') WEST BENGAL
              div(style='color: red', ng-show='stuForm.state.$error.required && stuForm.state.$dirty') Please enter your state
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div Country
            .col-xs-8.col-sm-8.col-md-8
              input#country.form-control(placeholder='country', name='country', ng-model='guestdetails.address.country', type='text', ng-required='true')
              div(style='color: red', ng-show='stuForm.country.$error.required && stuForm.country.$dirty') Please enter your country name
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div Course
            .col-xs-8.col-sm-8.col-md-8
              select#course.form-control(name='course', ng-model='guestdetails.course', type='text')
                option(value='') Course Interested In*
                option(value='PGDM') PGDM
                option(value='B.Tech') B.Tech
                option(value='BBA') BBA
                option(value='BCA') BCA
                option(value='B.PT') B.PT
                option(value='B.Ed') B.Ed
                option(value='LLB') LLB
                option(value='B.A.LLB') B.A.LLB
                option(value='B.Sc(BioTechnology)') B.Sc(BioTechnology)
                option(value='B.Sc(MicroBiology)') B.Sc(MicroBiology)
                option(value='Polytechnic') Polytechnic
                option(value='MBA') MBA
                option(value='MPT') MPT
                option(value='M.Sc.(BioTechnology)') M.Sc.(BioTechnology)
                option(value='M.Sc.(MicroBiology)') M.Sc.(MicroBiology)
                option(value='M.TechInt(BioTechnology)') M.TechInt(BioTechnology)
                option(value='M.TechInt(EC)') M.TechInt(EC)
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div Date of birth
            .col-xs-8.col-sm-8.col-md-8
              select#dd.marginR10px(name='dd', placeholder='DD', ng-model='guestdetails.dob.dd')
                option(value='') -
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
                option(value='6') 6
                option(value='7') 7
                option(value='8') 8
                option(value='9') 9
                option(value='10') 10
                option(value='11') 11
                option(value='12') 12
                option(value='13') 13
                option(value='14') 14
                option(value='15') 15
                option(value='16') 16
                option(value='17') 17
                option(value='18') 18
                option(value='19') 19
                option(value='20') 20
                option(value='21') 21
                option(value='22') 22
                option(value='23') 23
                option(value='24') 24
                option(value='25') 25
                option(value='26') 26
                option(value='27') 27
                option(value='28') 28
                option(value='29') 29
                option(value='30') 30
                option(value='31') 31
              select#mm.marginR10px(name='mm', placeholder='mm', ng-model='guestdetails.dob.mm')
                option(value='') -
                option(value='1') Jan
                option(value='2') Feb
                option(value='3') Mar
                option(value='4') Apr
                option(value='5') May
                option(value='6') Jun
                option(value='7') Jul
                option(value='8') Aug
                option(value='9') Sep
                option(value='10') Oct
                option(value='11') Nov
                option(value='12') Dec
              select#yy.marginR10px(name='yy', placeholder='yyyy', ng-model='guestdetails.dob.yyyy')
                option(value='') -
                option(value='1951') 1951
                option(value='1952') 1952
                option(value='1953') 1953
                option(value='1954') 1954
                option(value='1955') 1955
                option(value='1956') 1956
                option(value='1957') 1957
                option(value='1958') 1958
                option(value='1959') 1959
                option(value='1960') 1960
                option(value='1961') 1961
                option(value='1962') 1962
                option(value='1963') 1963
                option(value='1964') 1964
                option(value='1965') 1965
                option(value='1966') 1966
                option(value='1967') 1967
                option(value='1968') 1968
                option(value='1969') 1969
                option(value='1970') 1970
                option(value='1971') 1971
                option(value='1972') 1972
                option(value='1973') 1973
                option(value='1974') 1974
                option(value='1975') 1975
                option(value='1976') 1976
                option(value='1977') 1977
                option(value='1978') 1978
                option(value='1979') 1979
                option(value='1980') 1980
                option(value='1981') 1981
                option(value='1982') 1982
                option(value='1983') 1983
                option(value='1984') 1984
                option(value='1985') 1985
                option(value='1986') 1986
                option(value='1987') 1987
                option(value='1988') 1988
                option(value='1989') 1989
                option(value='1990') 1990
                option(value='1991') 1991
                option(value='1992') 1992
                option(value='1993') 1993
                option(value='1994') 1994
                option(value='1995') 1995
                option(value='1996') 1996
                option(value='1997') 1997
                option(value='1998') 1998
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div Gender
            .col-xs-8.col-sm-8.col-md-8
              select#gender(name='gender', placeholder='Gender', ng-model='guestdetails.gender', ng-required='true')
                option(value='') -
                option(value='Male') Male
                option(value='Female') Female
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div Category
            .col-xs-8.col-sm-8.col-md-8
              select#category(name='category', placeholder='Category', ng-model='guestdetails.category')
                option(value='') -
                option(value='SC') SC
                option(value='ST') ST
                option(value='OBC') OBC
                option(value='GEN') GEN
                option(value='OTHERS') OTHERS
            .clearfix
          .form-group.marginT10px
            .col-xs-12.col-md-12.col-sm-12.col-lg-12.marginT10px
              strong Entrance Exam Details
            .col-xs-4.col-sm-4.col-md-4
              div CAT/MAT/GMAT/XAT/Others
            .col-xs-8.col-sm-8.col-md-8
              input#exam.marginR10px.col-xs-5.col-md-5.col-sm-5(placeholder='CAT/MAT/XAT/GMAT', name='exam', ng-model='guestdetails.exam.name', ng-required='true')
              input#score.marginR10px.col-xs-3.col-md-3.col-sm-3(placeholder='Score', name='score', ng-model='guestdetails.exam.score', ng-required='true')
              input#percentile.marginR10px.col-xs-3.col-md-3.col-sm-3(placeholder='Percentile', name='percentile', ng-model='guestdetails.exam.percentile', ng-required='true')
            .clearfix
          .form-group.marginT10px
            .col-xs-12.col-sm-12.col-lg-12.col-md-12
              strong  Graduation Details 
            .col-xs-4.col-sm-4.col-md-4
              div Completion Year(Actual/Expected)
            .col-xs-8.col-sm-8.col-md-8
              input#completionyear.col-xs-5.col-md-5.col-sm-5.marginR10px(placeholder='Completion Year', name='cyear', ng-model='guestdetails.grad.cyear', ng-required='true')
              input#percentage.col-xs-3.col-md-3.col-sm-3.marginR10px(placeholder='Percentage', name='percentage', ng-model='guestdetails.grad.percent', ng-required='true')
            .clearfix
          .form-group
            .col-xs-4.col-sm-4.col-md-4
              div Query
            .col-xs-8.col-sm-8.col-md-8
              textarea#query.form-control(placeholder='message/query', name='query', ng-model='guestdetails.query', type='text')
              div(style='color: red', ng-show='stuForm.query.$invalid && stuForm.query.$dirty') Please enter your city name
          .clearfix
          .row.marginT10px
            div
              strong  Delcaration by candidate 
            .dec-body
              input.marginR10px(type='checkbox', ng-required='true', name='tnc')
              |  I, declare that the information furnished above is correct. I accept that incorrect information or withholding of relevant information may disqualify me. I agree to abide by the rules and regulations of the Institute.
          .form-group
            .col-xs-offset-4.col-sm-offset-4.col-md-offset-4.col-xs-8.col-sm-8.col-md-8
              .btn.btn-primary(ng-click='stuForm.$valid && next()', style='color: white;width: 100px') Continue
        .clearfix
      .col-xs-4.col-md-4.col-sm-4.col-lg-4
        img(src='/feepayment/images/fp/imar_ranking.jpg')
    .clearfix
