doctype html
head
  style(type='text/css').
    .top-head {
    background-color: #F4F4F4;
    height: 10%;
    font-size: 1.5em;
    size: 2;
    line-height: 3;
    }
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
    .openSans * {
    font-family: 'Open Sans', sans-serif;
    color: gray;
    }
    .main {
    height: 100%;
    }
    .top-head-image img {
    margin-top: -3%;
    width: 6%;
    }
    .form-group {
    margin: 10px;
    }
    .form-group .btn {
    margin-top: 25px;
    padding: 5px;
    }
    .marginT30px {
    margin-top: 30px;
    }
    .formStyle {
    background-color: white;
    border-radius: 4px;
    }
    .textInput {
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: blue
    }
    .textInput:focus {
    border-color: green
    }
    a {
    color: blue !important;
    }
    .tdMargin {
    margin-bottom: 5px;
    }
.row.main.openSans
  .col-xs-12.col-sm-12.col-md-12
    .row.text-center.top-head
      .col-xs-12.col-sm-12.col-md-12
    .row.text-center.top-head-image
    .clearfix
    .form-group
      .dec-body
        input.marginR10px(type='checkbox' ng-model='chkselct1' name='tnc')
        |  I,
        input.textInput(type='text')
        |  have gone through all the important instructions regarding admission from college website. I accept all the terms &amp; conditions as decided by SIET.
      .clearfix
    form.form.marginT30px.formStyle(role='form' name='stuForm' novalidate='' ng-submit='next(stuForm.$valid)')
      input(type='hidden' name='form_for' value='{{guestdetails.form_for}}' ng-init="guestdetails.form_for='admission'" ng-model='guestdetails.form_for')
      .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | Course
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          select#course.form-control(name='course' ng-model='guestdetails.course' required='')
            option(value='') select
            option(value='Regular') Regular
            option(value='Private') Private
          span(ng-show='submitted')
            span(ng-show='stuForm.course.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | class
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8(ng-show='guestdetails.course == null')
          select#class_regular.form-control(name='class_regular')
            option(value='') select
        .col-xs-8.col-sm-8.col-md-8(ng-show="guestdetails.course == 'Regular'")
          select#class_regular.form-control(name='class_regular' ng-model='guestdetails.class_regular' ng-required="guestdetails.course == 'Regular'")
            option(value='') select
            option(value=' B.B.A.')  B.B.A
            option(value='B.COM.') B.COM.
            option(value='B.Sc. (PCM)') B.Sc. (PCM)
            option(value='B.Sc. (CBZ)') B.Sc. (CBZ)
            option(value='B.Sc.(Computer Science)')  B.Sc.(Computer Science)
            option(value='B.Sc. (BioTec)') B.Sc. (BioTec)
            option(value='B.A (English, Hindi, Education, Sociology, Home Science, Computer, Drawing)') B.A (English, Hindi, Education, Sociology, Home Science, Computer, Drawing)
          span(ng-show='submitted')
            span(ng-show='stuForm.class_regular.$error.required' style='color: red;') *required.
        .col-xs-8.col-sm-8.col-md-8(ng-show="guestdetails.course == 'Private'")
          input#class_private.form-control(name='class_private' placeholder='' ng-model='guestdetails.class_private' ng-required="guestdetails.course == 'Private'" type='text')
          span(ng-show='submitted')
            span(ng-show='stuForm.class_private.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div Subject for B.A.
        .col-xs-8.col-sm-8.col-md-8
          input#subject_ba_1.form-control(name='subject_ba_1' placeholder='Enter Subject 1' ng-keydown='alphaValidate($event)' max='10' maxlength='10' ng-model='guestdetails.subject_ba_1' type='text')
          // <div style="color: red" ng-show="stuForm.subject_ba_1.$invalid &amp;&amp; stuForm.subject_ba_1.$dirty">Please enter your subject 1</div>
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div
        .col-xs-8.col-sm-8.col-md-8
          input#subject_ba_2.form-control(name='subject_ba_2' placeholder='Enter Subject 2' ng-keydown='alphaValidate($event)' max='10' maxlength='10' ng-model='guestdetails.subject_ba_2' type='text')
          // <div style="color: red" ng-show="stuForm.subject_ba_2.$invalid &amp;&amp; stuForm.subject_ba_2.$dirty">Please enter your subject 2</div>
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div
        .col-xs-8.col-sm-8.col-md-8
          input#subject_ba_3.form-control(name='subject_ba_3' placeholder='Enter Subject 3' ng-keydown='alphaValidate($event)' max='10' maxlength='10' ng-model='guestdetails.subject_ba_3' type='text')
          // <div style="color: red" ng-show="stuForm.subject_ba_3.$invalid &amp;&amp; stuForm.subject_ba_3.$dirty">Please enter your subject 3</div>
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | Aadhar No.
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#aadhar_no.form-control(name='aadhar_no' placeholder='Enter Aadhar No.' ng-model='guestdetails.aadhar_no' required='' type='text')
          span(ng-show='submitted')
            span(ng-show='stuForm.aadhar_no.$error.required' style='color: red;') *required.
          span(ng-show='submitted')
            span(ng-show='aadharInValid' style='color: red;') *Aadhar no. is required and should be of 12 digits .
        .clearfix
      .form-group
        .col-xs-4.col-sm-4.col-md-4
          div
            | Name
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#firstname.form-control(name='firstname' placeholder='Name' ng-model='guestdetails.name' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.firstname.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div Email
        .col-xs-8.col-sm-8.col-md-8
          input#email.form-control(name='email' placeholder='Enter Email address' ng-model='guestdetails.email' type='text')
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | Date of Birth
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          .row
            .col-xs-12.col-sm-2.col-md-2
              select#dd.form-control(name='ddd' placeholder='DD' required='' ng-model='guestdetails.dob.dd')
                option(value='') dd
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
                option(value='6') 6
                option(value='7') 7
                option(value='8') 8
                option(value='9') 9
                option(value='10') 10
                option(value='11') 11
                option(value='12') 12
                option(value='13') 13
                option(value='14') 14
                option(value='15') 15
                option(value='16') 16
                option(value='17') 17
                option(value='18') 18
                option(value='19') 19
                option(value='20') 20
                option(value='21') 21
                option(value='22') 22
                option(value='23') 23
                option(value='24') 24
                option(value='25') 25
                option(value='26') 26
                option(value='27') 27
                option(value='28') 28
                option(value='29') 29
                option(value='30') 30
                option(value='31') 31
              span(ng-show='submitted')
                span(ng-show='stuForm.dd.$error.required' style='color: red;') *required.
            .col-xs-12.col-sm-2.col-md-2
              select#mm.form-control(name='mm' placeholder='mm' required='' ng-model='guestdetails.dob.mm')
                option(value='') mm
                option(value='1') Jan
                option(value='2') Feb
                option(value='3') Mar
                option(value='4') Apr
                option(value='5') May
                option(value='6') Jun
                option(value='7') Jul
                option(value='8') Aug
                option(value='9') Sep
                option(value='10') Oct
                option(value='11') Nov
                option(value='12') Dec
              span(ng-show='submitted')
                span(ng-show='stuForm.mm.$error.required' style='color: red;') *required.
            .col-xs-12.col-sm-2.col-md-2
              select#yy.form-control(name='yy' placeholder='yyyy' required='' ng-model='guestdetails.dob.yyyy')
                option(value='') yyyy
                option(value='1951') 1951
                option(value='1952') 1952
                option(value='1953') 1953
                option(value='1954') 1954
                option(value='1955') 1955
                option(value='1956') 1956
                option(value='1957') 1957
                option(value='1958') 1958
                option(value='1959') 1959
                option(value='1960') 1960
                option(value='1961') 1961
                option(value='1962') 1962
                option(value='1963') 1963
                option(value='1964') 1964
                option(value='1965') 1965
                option(value='1966') 1966
                option(value='1967') 1967
                option(value='1968') 1968
                option(value='1969') 1969
                option(value='1970') 1970
                option(value='1971') 1971
                option(value='1972') 1972
                option(value='1973') 1973
                option(value='1974') 1974
                option(value='1975') 1975
                option(value='1976') 1976
                option(value='1977') 1977
                option(value='1978') 1978
                option(value='1979') 1979
                option(value='1980') 1980
                option(value='1981') 1981
                option(value='1982') 1982
                option(value='1983') 1983
                option(value='1984') 1984
                option(value='1985') 1985
                option(value='1986') 1986
                option(value='1987') 1987
                option(value='1988') 1988
                option(value='1989') 1989
                option(value='1990') 1990
                option(value='1991') 1991
                option(value='1992') 1992
                option(value='1993') 1993
                option(value='1994') 1994
                option(value='1995') 1995
                option(value='1996') 1996
                option(value='1997') 1997
                option(value='1998') 1998
                option(value='1999') 1999
                option(value='2000') 2000
                option(value='2001') 2001
                option(value='2002') 2002
                option(value='2003') 2003
                option(value='2004') 2004
                option(value='2005') 2005
                option(value='2006') 2006
              span(ng-show='submitted')
                span(ng-show='stuForm.yy.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | Gender
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          select#gender.form-control(name='gender' ng-model='guestdetails.gender' required='')
            option(value='') select
            option(value='MALE') Male
            option(value='FEMALE') Female
          span(ng-show='submitted')
            span(ng-show='stuForm.gender.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show='valid')
        .col-xs-4.col-sm-4.col-md-4
          div
            | Mobile No. 
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#mobile.form-control(name='mobile' placeholder='Enter Mobile No' ng-model='guestdetails.mobile' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='phnInValid' style='color: red;') *Mobile number is required and should be of 10 digits.
        .clearfix
      .form-group
        .col-xs-4.col-sm-4.col-md-4
          div
            | Father&apos;s Name
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#father_name.form-control(name='father_name' placeholder="Father's Name" ng-model='guestdetails.father_name' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.father_name.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | Mother&apos;s Name
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#mother_name.form-control(name='mother_name' placeholder="Enter Mother's Name" ng-model='guestdetails.mother_name' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.mother_name.$error.required' style='color: red;') *required.
          .clearfix
      .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | Guardian&apos;s Mobile No.
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#mobile.form-control(name='mobile' placeholder='Enter Mobile No' ng-model='guestdetails.guardian_mobile' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.mobile.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | Address
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          input#address.form-control(name='address' placeholder='Enter Your Address' ng-model='guestdetails.address' type='text' required='')
          span(ng-show='submitted')
            span(ng-show='stuForm.address.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div PIN
        .col-xs-8.col-sm-8.col-md-8
          input#pin.form-control(name='pin' placeholder='Enter Your PIN' ng-model='guestdetails.pin' type='text')
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div Minority Status
        .col-xs-8.col-sm-8.col-md-8
          select#category.form-control(name='category' ng-model='guestdetails.category')
            option(value='') select
            option(value='Yes') Yes
            option(value='No') No
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div Religion 
        .col-xs-8.col-sm-8.col-md-8
          select#sub_category.form-control(name='sub_category' ng-model='guestdetails.sub_category')
            option(value='') select
            option(value='Jain') Jain
            option(value='Hindu') Hindu
            option(value='Muslim') Muslim
            option(value='Christian') Christian
            option(value='Sikh') Sikh
            option(value='Buddhism') Buddhism
            option(value='Others') Others
          span(ng-show='submitted')
            span(ng-show='stuForm.sub_category.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | Resident
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          select#res_of.form-control(name='res_of' ng-model='guestdetails.res_of' required='')
            option(value='') select
            option(value='UP') U.P.
            option(value='Other') Other
          span(ng-show='submitted')
            span(ng-show='stuForm.res_of.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | Category
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          select#caste_category.form-control(name='caste_category' ng-model='guestdetails.caste_category' required='')
            option(value='') select
            option(value='GEN') GEN
            option(value='OBC') OBC
            option(value='SC') SC
            option(value='ST') ST
          span(ng-show='submitted')
            span(ng-show='stuForm.caste_category.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div
            | Intermediate/ Graduation Subject Stream Educational Information
            span(style='color: red;') *
        .col-xs-8.col-sm-8.col-md-8
          select#sub_stream.form-control(name='sub_stream' ng-model='guestdetails.sub_stream' required='')
            option(value='') select
            option(value='Computer Science') Computer Science
            option(value='Bio Technology') Bio Technology
            option(value='Business Administration') Business Administration
            option(value='Education') Education
            option(value='Science ') Science 
            option(value='Commerce') Commerce
            option(value='Arts') Arts
          span(ng-show='submitted')
            span(ng-show='stuForm.sub_stream.$error.required' style='color: red;') *required.
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div Physically Handicapped - Yes (More than or equal to 40%) otherwise No
        .col-xs-8.col-sm-8.col-md-8
          select#ph.form-control(name='ph' ng-model='guestdetails.ph')
            option(value='') select
            option(value='Yes') Yes
            option(value='No') No
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-4.col-sm-4.col-md-4
          div Is Father in Defence
        .col-xs-8.col-sm-8.col-md-8
          select#father_in_defence.form-control(name='father_in_defence' ng-model='guestdetails.father_in_defence')
            option(value='') select
            option(value='Yes') Yes
            option(value='No') No
        .clearfix
      .form-group(ng-show="valid'")
        .col-xs-12.col-sm-12.col-md-12
          .table-responsive
            table.table.table-bordered
              tbody
                tr
                  td(style='width: 35%; text-align: left;')
                    | (A) Sports Quota 
                    br
                    | (Certificate should be verified by District Sports Officers)
                  td(style='width: 65%;')
                    select#sports_quota.form-control(name='sports_quota' ng-model='guestdetails.sports_quota')
                      option(value='') select
                      option(value='National level') National level
                      option(value='State Level') State Level
                tr
                  td(style='width: 35%; text-align: left;') (B) N.C.C.
                  td(style='width: 65%;')
                    select#ncc.form-control(name='ncc' ng-model='guestdetails.ncc')
                      option(value='') select
                      option(value='C Certificate') C Certificate
                      option(value='B Certificate') B Certificate
                tr
                  td(style='width: 35%; text-align: left;') (C) N.S.S.
                  td(style='width: 65%;')
                    select#nss.form-control(name='nss' ng-model='guestdetails.nss')
                      option(value='') select
                      option(value='NSS camp 1') NSS camp 1
                      option(value='NSS camp 2') NSS camp 2
                tr
                  td(style='width: 35%; text-align: left;') (D) Scouts/Guides
                  td(style='width: 65%;')
                    select#scouts.form-control(name='scouts' ng-model='guestdetails.scouts')
                      option(value='') select
                      option(value='President medal') President medal
                      option(value='SOPAN 1') SOPAN 1
                      option(value='SOPAN 2') SOPAN 2
                tr
                  td(style='width: 35%; text-align: left;') (E) Rovers Rangers 
                  td(style='width: 65%;')
                    select#rovers.form-control(name='rovers' ng-model='guestdetails.rovers')
                      option(value='') select
                      option(value='President medal') President medal
                      option(value='Governor medal/nipun certificat') Governor medal/nipun certificate
                      option(value='Third sopan/Praveen certificate') Third sopan/Praveen certificate
                      option(value='Second Sopan') Second Sopan
      .form-group(ng-show="valid'")
        .col-xs-12.col-sm-12.col-md-12
          .table-responsive
            table.table.table-bordered
              thead
                tr
                  th(colspan='9') Educational Information
                tr(style='color: aquamarine;')
                  th Class
                  th Board/Univ.
                  th Year
                  th Roll No.
                  th Maximum Marks
                  th Marks obtained
                  th Remarks Any
              tbody
                tr
                  td Matriculation
                  td
                    select#mat_board.form-control(name='mat_board' ng-model='guestdetails.mat_board' ng-required='baReq')
                      option(value='') select
                      option(value='UP Board') UP Board
                      option(value='CBSE Board') CBSE Board
                      option(value='ICSE Board') ICSE Board
                      option(value='NIOS') NIOS
                      option(value='EX-UP') EX-UP
                      option(value='CCS University') CCS University
                      option(value='Other Board') Other Board
                      option(value='Other University') Other University
                      option(value='Other State University') Other State University
                    span(ng-show='submitted')
                      span(ng-show='stuForm.mat_board.$error.required' style='color: red;') *required.
                  td
                    input#mat_year.form-control(name='mat_year' placeholder='' ng-model='guestdetails.mat_year' type='text' ng-required='baReq')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.mat_year.$error.required' style='color: red;') *required.
                  td
                    input#mat_roll.form-control(name='mat_roll' placeholder='' ng-model='guestdetails.mat_roll' type='text' ng-required='baReq')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.mat_roll.$error.required' style='color: red;') *required.
                  td
                    input#mat_max_marks.form-control(name='mat_max_marks' placeholder='' ng-model='guestdetails.mat_max_marks' type='text' ng-required='baReq')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.mat_max_marks.$error.required' style='color: red;') *required.
                  td
                    input#mat_marks_obtained.form-control(name='mat_marks_obtained' placeholder='' ng-model='guestdetails.mat_marks_obtained' type='text' ng-required='baReq')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.mat_marks_obtained.$error.required' style='color: red;') *required.
                  td
                    input#mat_remarks.form-control(name='mat_remarks' placeholder='' ng-model='guestdetails.mat_remarks' type='text')
                tr
                  td Intermediate
                  td
                    select#inter_board.form-control(name='inter_board' ng-model='guestdetails.inter_board' ng-required='baReq')
                      option(value='') select
                      option(value='UP Board') UP Board
                      option(value='CBSE Board') CBSE Board
                      option(value='ICSE Board') ICSE Board
                      option(value='NIOS') NIOS
                      option(value='EX-UP') EX-UP
                      option(value='CCS University') CCS University
                      option(value='Other Board') Other Board
                      option(value='Other University') Other University
                      option(value='Other State University') Other State University
                    span(ng-show='submitted')
                      span(ng-show='stuForm.inter_board.$error.required' style='color: red;') *required.
                  td
                    input#inter_year.form-control(name='inter_year' placeholder='' ng-model='guestdetails.inter_year' type='text' ng-required='baReq')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.inter_year.$error.required' style='color: red;') *required.
                  td
                    input#inter_roll.form-control(name='inter_roll' placeholder='' ng-model='guestdetails.inter_roll' type='text' ng-required='baReq')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.inter_roll.$error.required' style='color: red;') *required.
                  td
                    input#inter_max_marks.form-control(name='inter_max_marks' placeholder='' ng-model='guestdetails.inter_max_marks' type='text' ng-required='baReq')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.inter_max_marks.$error.required' style='color: red;') *required.
                  td
                    input#inter_marks_obtained.form-control(name='inter_marks_obtained' placeholder='' ng-model='guestdetails.inter_marks_obtained' type='text' ng-required='baReq')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.inter_marks_obtained.$error.required' style='color: red;') *required.
                  td
                    input#inter_remarks.form-control(name='inter_remarks' placeholder='' ng-model='guestdetails.inter_remarks' type='text')
                tr
                  td Graduation
                  td
                    select#grad_board.form-control(name='grad_board' ng-model='guestdetails.grad_board' ng-required='maReq')
                      option(value='') select
                      option(value='UP Board') UP Board
                      option(value='CBSE Board') CBSE Board
                      option(value='ICSE Board') ICSE Board
                      option(value='NIOS') NIOS
                      option(value='EX-UP') EX-UP
                      option(value='CCS University') CCS University
                      option(value='Other University') Other University
                      option(value='Other State University') Other State University
                    span(ng-show='submitted')
                      span(ng-show='stuForm.grad_board.$error.required' style='color: red;') *required.
                  td
                    input#grad_year.form-control(name='grad_year' placeholder='' ng-model='guestdetails.grad_year' type='text')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.grad_year.$error.required' style='color: red;') *required.
                  td
                    input#grad_roll.form-control(name='grad_roll' placeholder='' ng-model='guestdetails.grad_roll' type='text')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.grad_roll.$error.required' style='color: red;') *required.
                  td
                    input#grad_max_marks.form-control(name='grad_max_marks' placeholder='' ng-model='guestdetails.grad_max_marks' type='text')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.grad_max_marks.$error.required' style='color: red;') *required.
                  td
                    input#grad_marks_obtained.form-control(name='grad_marks_obtained' placeholder='' ng-model='guestdetails.grad_marks_obtained' type='text')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.grad_marks_obtained.$error.required' style='color: red;') *required.
                  td
                    input#grad_remarks.form-control(name='grad_remarks' placeholder='' ng-model='guestdetails.grad_remarks' type='text')
                tr
                  td Post Graduation
                  td
                    select#post_grad_board.form-control(name='post_grad_board' ng-model='guestdetails.post_grad_board')
                      option(value='') select
                      option(value='UP Board') UP Board
                      option(value='CBSE Board') CBSE Board
                      option(value='ICSE Board') ICSE Board
                      option(value='NIOS') NIOS
                      option(value='EX-UP') EX-UP
                      option(value='CCS University') CCS University
                      option(value='Other University') Other University
                      option(value='Other State University') Other State University
                  td
                    input#post_grad_year.form-control(name='post_grad_year' placeholder='' ng-model='guestdetails.post_grad_year' type='text')
                  td
                    input#post_grad_roll.form-control(name='post_grad_roll' placeholder='' ng-model='guestdetails.post_grad_roll' type='text')
                  td
                    input#post_grad_max_marks.form-control(name='post_grad_max_marks' placeholder='' ng-model='guestdetails.post_grad_max_marks' type='text')
                  td
                    input#post_grad_marks_obtained.form-control(name='post_grad_marks_obtained' placeholder='' ng-model='guestdetails.post_grad_marks_obtained' type='text')
                  td
                    input#post_grad_remarks.form-control(name='post_grad_remarks' placeholder='' ng-model='guestdetails.post_grad_remarks' type='text')
                tr
                  td M.Ed Entrance
                  td
                    select#bed_board.form-control(name='bed_board' ng-model='guestdetails.bed_board' ng-required='bedReq')
                      option(value='') select
                      option(value='UP Board') UP Board
                      option(value='CBSE Board') CBSE Board
                      option(value='ICSE Board') ICSE Board
                      option(value='NIOS') NIOS
                      option(value='EX-UP') EX-UP
                      option(value='CCS University') CCS University
                      option(value='Lucknow University') Lucknow University
                      option(value='Other University') Other University
                      option(value='Other State University') Other State University
                    span(ng-show='submitted')
                      span(ng-show='stuForm.bed_board.$error.required' style='color: red;') *required.
                  td
                    input#bed_year.form-control(name='bed_year' placeholder='' ng-model='guestdetails.bed_year' ng-required='bedReq' type='text')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.bed_year.$error.required' style='color: red;') *required.
                  td
                    input#bed_roll.form-control(name='bed_roll' placeholder='' ng-required='bedReq' ng-model='guestdetails.bed_roll' type='text')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.bed_roll.$error.required' style='color: red;') *required.
                  td
                    input#bed_max_marks.form-control(name='bed_max_marks' placeholder='' ng-model='guestdetails.bed_max_marks' type='text' ng-required='bedReq')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.bed_max_marks.$error.required' style='color: red;') *required.
                  td
                    input#bed_marks_obtained.form-control(name='bed_marks_obtained' placeholder='' ng-model='guestdetails.bed_marks_obtained' ng-required='bedReq' type='text')
                    span(ng-show='submitted')
                      span(ng-show='stuForm.bed_marks_obtained.$error.required' style='color: red;') *required.
                  td
                    input#bed_remarks.form-control(name='bed_remarks' placeholder='' ng-model='guestdetails.bed_remarks' type='text')
                tr
                  td Any Other
                  td
                    select#other_board.form-control(name='other_board' ng-model='guestdetails.other_board')
                      option(value='') select
                      option(value='UP Board') UP Board
                      option(value='CBSE Board') CBSE Board
                      option(value='ICSE Board') ICSE Board
                      option(value='NIOS') NIOS
                      option(value='EX-UP') EX-UP
                      option(value='CCS University') CCS University
                      option(value='Other University') Other University
                      option(value='Other State University') Other State University
                  td
                    input#others_year.form-control(name='others_year' placeholder='' ng-model='guestdetails.others_year' type='text')
                  td
                    input#others_roll.form-control(name='others_roll' placeholder='' ng-model='guestdetails.others_roll' type='text')
                  td
                    input#others_max_marks.form-control(name='others_max_marks' placeholder='' ng-model='guestdetails.others_max_marks' type='text')
                  td
                    input#others_marks_obtained.form-control(name='others_marks_obtained' placeholder='' ng-model='guestdetails.others_marks_obtained' type='text')
                  td
                    input#others_remarks.form-control(name='others_remarks' placeholder='' ng-model='guestdetails.others_remarks' type='text')
      .form-group
        div
          strong  Delcaration by candidate 
        .dec-body
          input.marginR10px(type='checkbox' ng-model='chkselct2' name='tnc')
          |  I hereby declare that the above information given by me is true to the best of my knowledge. I abide by the rules and regulations for admission in Minority Quota as set
          |             up by the college administration and I understand that my registration shall not guarantee my admission in ........ Class. I solemnly declare that I will follow all the rules and regulations of the college as well as university. I will follow
          |             the dress code of the college and will not be participating in any ragging or unlawful activity in the college. Further, I declare that I shall complete the prescribed 75% attendance in the class otherwise my admission be cancelled by the
          |             college administration.
        .clearfix
      .form-group
        .col-xs-offset-2.col-sm-offset-2.col-md-offset-2.col-xs-8.col-sm-8.col-md-8.text-center
          button.btn.btn-primary(type='submit' style='color: white;' ng-click='submitted=true') Proceed to Pay
          // <div ng-click="stuForm.$valid && next()" style="color: white;" class="btn btn-primary">Proceed to Pay</div>
  .clearfix
