.container(style="background:#fff;padding:50px 100px;font-family:'Open Sans';font-size:20px;font-weight:normal;text-align:center")
  div(ng-hide='hideFirstTime')
    | Welcome Admin
    br
    br
    br
    br
    | Miscellaneous Fee
  style.
    .misc-valid{
    color:#ffffff;
    background-color:#1a7de3;
    }
    .misc-invalid{
    color:#ffffff;
    background-color:#a8a8a8;
    }
  #page-content-wrapper
    .container-fluid
      .row
        .col-lg-12
          br
          br
          br
          form(method='post', role='form', action='/feepayment/upload', enctype='multipart/form-data')
            .form-group
              label.btn-bs-file.btn.btn-lg.btn-success(ng-click='addMiscFeeModal()')
                i.fa.fa-upload(aria-hidden='true')
                |  Add Miscellaneous Fee
  #addMiscFee.modal.fade(role='dialog')
    .modal-dialog
      // Modal content
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Miscellaneous Fee
        .modal-body
          form(role='form', name='miscForm')
            .form-group
              input.form-control(ng-model='miscFee.fees[0].fee_name', ng-required='true', name='miscFeeName', placeholder='Fee Type')
            .form-group
              input.form-control(ng-model='miscFee.fees[0].fee_amount', ng-required='true', name='miscFeeAmount', placeholder='Fee Amount', type='number')
            .form-group
              input(type='checkbox', ng-model='miscFee.partial_payment', name='partial_payment', for='partialpayment')
              label#partialpayment  Allow partial payments
        .modal-footer(style='text-align:center')
          button.btn.btn-default(type='button', ng-click='miscForm.$valid&&addMiscFee()', ng-class="miscForm.$valid?'misc-valid':'misc-invalid'") Add Fee
