doctype html
html
  head
    link(crossorigin='anonymous', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', rel='stylesheet')
    style(type='text/css').
      .top-head{
      background-color: #F4F4F4;
      height: 10%;
      font-size: 1.5em;
      size: 2;
      line-height: 3;
      }
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
      .openSans * {
      font-family: 'Open Sans', sans-serif;
      height: 100%;
      color: gray;
      }
      .main{
      height: 100%;
      }
      .top-head-image img{
      margin-top: -4%;
      width: 8%;
      }
      .form-control{
      height: 27px !important;
      }
      .form-group .btn{
      margin-top: 25px;
      padding:5px;
      }
      input.form-control{
      margin:3px;
      }
      .fee-details .row{
      margin-left: 0px;
      margin-right:0px;
      }
      .pay-icon{
      margin-right:20px;
      }
      .pay-icon img{
      width:4%;
      }
      .paybox{
      margin:0px;
      }
      .paybox-header *{
      line-height: 30px;
      color: #2ebc2a !important;
      margin: 0px;
      font-size: 18px;
      }
      .fee-details .row div:nth-child(2) {
      text-align: right;
      }
      .fee-details .row div:nth-child(1) {
      text-align: left;
      }
      .paybox .row{
      line-height: 25px;
      margin-top: 5px;
      margin-bottom: 5px;
      }
      .paybox .btn{
      margin-top: 30px;
      }
  body.container-fluid
    .row.main.openSans
      .col-xs-12.col-sm-12.col-md-12
        .row.text-center.top-head
          .col-xs-12.col-sm-12.col-md-12(style='height: 20%')
            br
        .row.text-center.top-head-image
          .col-xs-12.col-sm-12.col-md-12.text-center
            img(src='/feepayment/images/fp/04.png')
      .clearfix
      .row.paybox
        .col-xs-12.col-sm-12.col-md-12
          .row.paybox-header
            .col-xs-12.col-sm-12.col-md-12 How would you like to pay?
          .row
            .col-xs-12.col-sm-12.col-md-12
              span.pay-icon
                img(src='/feepayment/images/fp/08.png')
              |  College Gateway
          .row
            .col-xs-12.col-sm-12.col-md-12
              span.pay-icon
                img(src='/feepayment/images/fp/09.png')
              |  KYC certified wallet
          .row
            .col-xs-12.col-sm-12.col-md-12
              .btn.btn-primary(style='color: white', ng-click='payCtrl.initPay()') Proceed To Pay
