doctype html
html
  head
    style(type='text/css').
      .top-head{
      background-color: #F4F4F4;
      height: 10%;
      font-size: 1.5em;
      size: 2;
      line-height: 3;
      }
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
      .openSans * {
      font-family: 'Open Sans', sans-serif;
      height: 100%;
      color: gray;
      }
      .main{
      height: 100%;
      }
      .top-head-image img{
      margin-top: -3%;
      width: 6%;
      }
     
      .form-group .btn{
      margin-top: 25px;
      padding:5px;
      }
      
  body.container-fluid
    .row.main.openSans
      .col-xs-12.col-sm-12.col-md-12
        .row.text-center.top-head
          .col-xs-12.col-sm-12.col-md-12
            br
        .row.text-center.top-head-image
          .col-xs-12.col-sm-12.col-md-12.text-center
            img(src='/feepayment/images/fp/04.png')
      .clearfix
      form.form(role='form', name='stuForm', novalidate='',style='margin-top: 50px;')
        input(type='hidden', name='form_for', value='{{guestdetails.form_for}}', ng-init="guestdetails.form_for='registration'", ng-model='guestdetails.form_for')
        .clearfix
        .form-group
          .col-xs-4.col-sm-4.col-md-4
            div Enrollment No
          .col-xs-8.col-sm-8.col-md-8
            input#enrollment_no.form-control(name='enrollment_no', ng-model='feeCtrl.student.enrollment_no', ng-required='', type='text')
            div(style='color: red;', ng-show='stuForm.enrollment_no.$error.required && stuForm.enrollment_no.$dirty') Enrollment no required
          .clearfix
        .form-group
          .col-xs-4.col-sm-4.col-md-4
            div(for='semester') Semester
          .col-xs-8.col-sm-8.col-md-8
            select#semester.form-control(name='semester', ng-model='feeCtrl.student.semester', ng-required='')
              option(value='1') Semester 1
              option(value='2') Semester 2
              option(value='3') Semester 3
              option(value='4') Semester 4
              option(value='5') Semester 5
              option(value='6') Semester 6
              option(value='7') Semester 7
              option(value='8') Semester 8
            div(style='color: red;', ng-show='stuForm.semester.$error.required && stuForm.semester.$dirty') Enrollment no required
          .clearfix
          .form-group
            .col-xs-offset-4.col-sm-offset-4.col-md-offset-4.col-xs-8.col-sm-8.col-md-8
              .btn.btn-primary(ng-click='feeCtrl.fetchStudentDetails()', style='color: white;width: 100px;') Submit
      .clearfix
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-body
              button.close.pull-right(type='button', data-dismiss='modal') ×
              p Student have no dues fee
