doctype html
html(ng-app='guestApp', ng-cloak='')
  head
    title
    link(rel='stylesheet', href='/feepayment/css/app.css')
    link(rel='stylesheet', href='/feepayment/vendors/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/feepayment/vendors/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/feepayment/vendors/nprogress/nprogress.css')
    link(rel='stylesheet', href='/feepayment/vendors/google-code-prettify/bin/prettify.min.css')
    link(rel='stylesheet', href='/feepayment/vendors/custom.css')
    ink(rel='stylesheet', href='/feepayment/css/simple-sidebar.css')
    link(rel='stylesheet', href='/feepayment/css/style.css')
    style.
      #wrapper{ margin: auto;
      padding-left: 0px !important;
      max-width: 960px;
      }
      body{
      padding-top:0px !important;
      padding-right:0px !important;
      padding-left:0px !important;
      }
      .subheader{
      margin: auto;
      padding-left: 0px !important;
      max-width: 960px;
      }
      .subheader img{
      height:100px;
      padding:10px;
      }
  body
    div(ng-bind-html='$root.homepageCSS')
    div
      .headerCSS
        .subheader.row.text-center
          img(src='/feepayment{{$root.td.logoURL}}')
          span(ng-show='!$root.td.displayLogoText') {{$root.td.college||'Fee Payment and Records'}} 
          | 
    #wrapper
      input#role22(type='hidden')
      input#tenant(type='hidden')
      div(role='main')
        ng-view.app-content(ng-hide='loading')
  script(src='/feepayment/kryptosjs/jquery.js')
  script(src='/feepayment/vendors/bootstrap/dist/js/bootstrap.min.js')
  script(src='/feepayment/vendors/fastclick/lib/fastclick.js')
  script(src='/feepayment/kryptosjs/smartresize.js')
  script(src='/feepayment/kryptosjs/custom.js')
  script(src='/feepayment/kryptosjs/angular.js')
  script(src='/feepayment/kryptosjs/angular-route.min.js')
  script(src='/feepayment/kryptosjs/blockui.min.js')
  script(src='/feepayment/js/ng-infinite-scroll.min.js')
  script(src='/feepayment/js/lib/jquery.iframe-transport.js')
  script(src='/feepayment/js/lib/jquery.ui.widget.js')
  script(src='/feepayment/js/lib/jquery.fileupload.js')
  script(src='/feepayment/js/lib/jquery.fileupload-angular.js')
  script(src='https://www.google.com/jsapi')
  script.
    google.load("feeds", "1");
  script(src='/feepayment/js/feepayment/feeCtrl.js')
  script(src='/feepayment/js/feepayment/feeservice.js')
  script(src='/feepayment/js/feepayment/feepaymentCtrl.js')
  script(src='/feepayment/js/feepayment/guestPayCtrl.js')
  script(src='/feepayment/js/guestApp.js')
  script(src='/feepayment/js/services.js')
  script(src='/feepayment/js/controllers.js')
  script(src='/feepayment/js/filters.js')
  script(src='/feepayment/js/directives.js')
  script.
    $.blockUI = function() {
    return;
    }
