doctype html
html(ng-app='myApp', ng-cloak='')
  head
    title
    link(rel='stylesheet', href='/feepayment/css/app.css')
    link(rel='stylesheet', href='/feepayment/vendors/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/feepayment/vendors/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/feepayment/vendors/nprogress/nprogress.css')
    link(rel='stylesheet', href='/feepayment/vendors/google-code-prettify/bin/prettify.min.css')
    link(rel='stylesheet', href='/feepayment/vendors/custom.css')
    ink(rel='stylesheet', href='/feepayment/css/simple-sidebar.css')
    link(rel='stylesheet', href='/feepayment/css/style.css')
  body
    .navbar.navbar-fixed-top.navbar-inverse.main-header
      img(ng-src='{{$root.td.logoURL}}')
      span {{$root.td.college}}
    #wrapper
      div(role='main')
        ng-view.app-content(ng-hide='loading')
  script(src='/feepayment/kryptosjs/jquery.js')
  script(src='/feepayment/vendors/bootstrap/dist/js/bootstrap.min.js')
  script(src='/feepayment/vendors/fastclick/lib/fastclick.js')
  script(src='/feepayment/kryptosjs/smartresize.js')
  script(src='/feepayment/kryptosjs/custom.js')
  script(src='/feepayment/kryptosjs/angular.js')
  script(src='/feepayment/kryptosjs/angular-route.min.js')
  script(src='/feepayment/kryptosjs/blockui.min.js')
  script(src='/feepayment/js/ng-infinite-scroll.min.js')
  script(src='/feepayment/js/lib/jquery.iframe-transport.js')
  script(src='/feepayment/js/lib/jquery.ui.widget.js')
  script(src='/feepayment/js/lib/jquery.fileupload.js')
  script(src='/feepayment/js/lib/jquery.fileupload-angular.js')
  script(src='https://www.google.com/jsapi')
  script.
    google.load("feeds", "1");
  script(src='/feepayment/js/feepayment/feeCtrl.js')
  script(src='/feepayment/js/feepayment/feeservice.js')
  script(src='/feepayment/js/feepayment/feepaymentCtrl.js')
  script(src='/feepayment/js/app.js')
  script(src='/feepayment/js/services.js')
  script(src='/feepayment/js/controllers.js')
  script(src='/feepayment/js/filters.js')
  script(src='/feepayment/js/directives.js')
  script.
    $.blockUI = function() {
    return;
    }
