doctype html
html(ng-app='myApp', ng-cloak='')
	head
		title
		link(rel='stylesheet', href='/feepayment/css/app.css')
		link(rel='stylesheet', href='/feepayment/vendors/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/feepayment/vendors/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/feepayment/vendors/nprogress/nprogress.css')
		link(rel='stylesheet', href='/feepayment/vendors/google-code-prettify/bin/prettify.min.css')
		link(rel='stylesheet', href='/feepayment/vendors/custom.css')
		ink(rel='stylesheet', href='/feepayment/css/simple-sidebar.css')
		link(rel='stylesheet', href='/feepayment/css/style.css')
	body
		.navbar.navbar-fixed-top.navbar-inverse.main-header Fee Payment and Records
		#wrapper
			input#role22(type='hidden', value=role.toLowerCase())
			input#tenant(type='hidden', value=username)

			#sidebar-wrapper
				ul.sidebar-nav
					li.sidebar-brand(ng-show='tenant.tenant')
						a(href='/') {{tenant.tenant}}
					li
						a(href='/feepayment/#home')
							i.fa.fa-home(aria-hidden='false')
							|   Home
					li
						a.hide(href='/feepayment', ng-click='$event.preventDefault()')
							i.fa.fa-pencil-square(aria-hidden='false')
							|   Attendance
					li
						a.hide(href='/feepayment', ng-click='$event.preventDefault()')
							i.fa.fa-newspaper-o(aria-hidden='false')
							|   News
					li
						a.hide(href='/feepayment', ng-click='$event.preventDefault()')
							i.fa.fa-server(aria-hidden='false')
							|   Timetable
					li
						a.hide(href='/feepayment', ng-click='$event.preventDefault()')
							i.fa.fa-newspaper-o(aria-hidden='false')
							|   Announcements
					li
						a.hide(href='/feepayment#student', ng-click='$event.preventDefault()')
							i.fa.fa-inr(aria-hidden='false')
							|   Fee Records
					li
						a(href='/feepayment#student')
							i.fa.fa-inr(aria-hidden='false')
							|   Pay Fee
					li
						a(href='/feepayment#misc-dash')
							i.fa.fa-inr(aria-hidden='false')
							|   Miscellaneous Fees
					li
						a(href='/feepayment#/userManagement')
							i.fa.fa-inr(aria-hidden='false')
							|   User Management
					li
						a.hide(href='/feepayment', ng-click='$event.preventDefault()')
							i.fa.fa-calendar(aria-hidden='false')
							|   Calendar
					li
						a(href='/feepayment/logout')
							i.fa.fa-sign-out(aria-hidden='false')
							|   Logout
			div(role='main')
				ng-view.app-content(ng-hide='loading')
	script(src='/feepayment/kryptosjs/jquery.js')
	script(src='/feepayment/vendors/bootstrap/dist/js/bootstrap.min.js')
	script(src='/feepayment/vendors/fastclick/lib/fastclick.js')
	script(src='/feepayment/kryptosjs/smartresize.js')
	script(src='/feepayment/kryptosjs/custom.js')
	script(src='/feepayment/kryptosjs/angular.js')
	script(src='/feepayment/kryptosjs/angular-route.min.js')
	script(src='/feepayment/kryptosjs/blockui.min.js')
	script(src='/feepayment/js/ng-infinite-scroll.min.js')
	script(src='/feepayment/js/lib/jquery.iframe-transport.js')
	script(src='/feepayment/js/lib/jquery.ui.widget.js')
	script(src='/feepayment/js/lib/jquery.fileupload.js')
	script(src='/feepayment/js/lib/jquery.fileupload-angular.js')
	script(src='https://www.google.com/jsapi')
	script.
		google.load("feeds", "1");
	script(src='/feepayment/js/feepayment/feeCtrl.js')
	script(src='/feepayment/js/feepayment/feeservice.js')
	script(src='/feepayment/js/feepayment/feepaymentCtrl.js')
	script(src='/feepayment/js/feepayment/guestPayCtrl.js')
	script(src='/feepayment/js/app.js')
	script(src='/feepayment/js/services.js')
	script(src='/feepayment/js/controllers.js')
	script(src='/feepayment/js/filters.js')
	script(src='/feepayment/js/directives.js')
	script(src='/feepayment/js/userManagement/userMgmtController.js')
	script(src='/feepayment/js/userManagement/userMgmtService.js')
	script(src='https://unpkg.com/sweetalert2@7.13.3/dist/sweetalert2.all.js')
	script.
		$.blockUI = function() {
		return;
		}
