doctype html
html
  head
    meta(charset='utf-8')
    title A simple, clean, and responsive HTML invoice template
    style.
      
      .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      font-size: 10px;
      line-height: 18px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
      }
      .invoice-box table {
      width: 100%;
      line-height: inherit;
      }
      .invoice-box table td {
      padding: 5px;
      vertical-align: top;
      }
     
      .invoice-box table tr.top table td {
      padding-bottom: 20px;
      }
      .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
      }
      .invoice-box table tr.information table td {
      padding-bottom: 40px;
      }
      .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
      }
      .invoice-box table tr.details td {
      padding-bottom: 20px;
      }
      .invoice-box table tr.details2 td {
      padding-bottom: 0px;
      }
      .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
      }
      .invoice-box table tr.item.last td {
      border-bottom: none;
      }
      .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
      }
      @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
      }
      .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
      }
      }
      .textarea{
      width: 150px;
      }
  body
    .invoice-box
      .col-xs-12.col-sm-12.col-md-12
        .col-xs-4.col-sm-4.col-md-4(style='float:left;')
          img(style='width:70px;margin-top:-20px;padding:10%;', src='https://kryptosda.kryptosmobile.com/feepayment/LaxmiBai/logo.png')
        .col-xs-8.col-sm-8.col-md-8(style='padding:10px;color:black;')
          label  #{company_name  || " " } #{addressLine1} #{addressLine2} #{city} Admission Form
      .row.text-center
        span.row.text-center    
        br
        div(style='float:right; width:150px;')
          textarea.textarea(cols='4', rows='9')  
        br
        br
        br
        br
        br
        br    
        div
        div
          div(style='float:left;')
            div
            div
            div
            div
        br
        br  
        div
          div
            div(style='color:black;text-align:center;') Student Information
          br
          div
            span(style='float:left;') Year
            span(style='float:right;')  #{year}  
          br
          div
            span(style='float:left;') Examination Roll No.
            span(style='float:right;')  #{en_no}  
          br
          div
            span(style='float:left;') College Roll No.
            span(style='float:right;')  #{uniqueId}  
          br
          div
            span(style='float:left;') Course
            span(style='float:right;')  #{course}  
          br
          div
            span(style='float:left;') Name of the Candidate
            span(style='float:right;')  #{name}  
          br
          div
            span(style='float:left;') Date of Birth
            span(style='float:right;') #{dob}
          br
          div
            span(style='float:left;') Contact No.
            span(style='float:right;')  #{mobile}
          br
          div
            span(style='float:left;') Email Id
            span(style='float:right;')  #{email}
          br
          br
          div
            span(style='float:left;') Category
            span(style='float:right;')  #{category}
          br
          div
            span(style='float:left;') Medium
            span(style='float:right;')  #{medium}
          br
          div
            span(style='float:left;') Local Address
            span(style='float:right;') #{local_address}
          br
          div
            span(style='float:left;') Permanent Address
            span(style='float:right;')  #{permanent_address}
          br
          div
            span(style='float:left;') Father's Name
            span(style='float:right;')  #{father_name}
          br
          div
            span(style='float:left;') Father&apos;s Contact No.
            span(style='float:right;')  #{f_mobile}
          br
          br
          div
            span(style='float:left;') Father&apos;s Email Id
            span(style='float:right;')  #{f_email}
          br
          br
          div
            span(style='float:left;') Mother&apos;s Name
            span(style='float:right;')  #{mother_name}
          br
          br
          div
            span(style='float:left;') Mother&apos;s Contact No.
            span(style='float:right;')  #{m_mobile}
          br
          br
          div
            span(style='float:left;') Mother&apos;s Email Id
            span(style='float:right;')  #{m_email}
          br
          br
          div
            span(style='float:left;') Semester
            span(style='float:right;')  #{semester}
          br
          br
          .container
            table.table.table-bordered(border='1')
                  thead
                    tr(style='color: black')
                      th(colspan='5') Marks Secured in Semester I   
                    tr(style='color: black')
                      th Subject
                      th 1
                      th 2
                      th 3
                      th 4
                  tbody
                    tr
                      td Marks Secured
                      td #{sem1_marks1}
                      td #{sem1_marks2}
                      td #{sem1_marks3}
                      td #{sem1_marks4}
          br          
          .container
            table.table.table-bordered(border='1')
                  thead
                    tr(style='color: black')
                      th(colspan='5') Marks Secured in Semester II   
                    tr(style='color: black')
                      th Subject
                      th 1
                      th 2
                      th 3
                      th 4
                  tbody
                    tr
                      td Marks Secured
                      td #{sem2_marks1}
                      td #{sem2_marks2}
                      td #{sem2_marks3}
                      td #{sem2_marks4}
          br          
          .container
            table.table.table-bordered(border='1')
                  thead
                    tr(style='color: black')
                      th(colspan='5') Marks Secured in Semester III   
                    tr(style='color: black')
                      th Subject
                      th 1
                      th 2
                      th 3
                      th 4
                      th 5
                  tbody
                    tr
                      td Marks Secured
                      td #{sem3_marks1}
                      td #{sem3_marks2}
                      td #{sem3_marks3}
                      td #{sem3_marks4}
                      td #{sem3_marks5}
          br          
          .container
            table.table.table-bordered(border='1')
                  thead
                    tr(style='color: black')
                      th(colspan='5') Marks Secured in Semester IV   
                    tr(style='color: black')
                      th Subject
                      th 1
                      th 2
                      th 3
                      th 4
                      th 5
                  tbody
                    tr
                      td Marks Secured
                      td #{sem4_marks1}
                      td #{sem4_marks2}
                      td #{sem4_marks3}
                      td #{sem4_marks4}
                      td #{sem4_marks5}
          br          
          div(style='color:black;text-align:center;')
          strong  UNDERTAKING 
        .dec-body
          | The particulars furnished above are true and complete in all respects and I agree that my candidature may be cancelled
          | if I have given any false information.
          br
          |             I submit myself to the disciplinary jurisdiction of the several authorities of the University of Delhi who may be vested
          |             with the authority to exercise discipline under the Act, the Statutes, the Ordinances and the Rules framed by the
          |             University.
      div
      br
      br
      br
      div
        span(style='float:right;') ___________________________
      div
      br
      div
        span(style='float:right;') Signature of the candidate
      div
      br
      div

