doctype html
html
  head
    meta(charset='utf-8')
    title A simple, clean, and responsive HTML invoice template
    style.
      
      .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      font-size: 10px;
      line-height: 18px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
      }
      .invoice-box table {
      width: 100%;
      line-height: inherit;
      }
      .invoice-box table td {
      padding: 5px;
      vertical-align: top;
      }
     
      .invoice-box table tr.top table td {
      padding-bottom: 20px;
      }
      .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
      }
      .invoice-box table tr.information table td {
      padding-bottom: 40px;
      }
      .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
      }
      .invoice-box table tr.details td {
      padding-bottom: 20px;
      }
      .invoice-box table tr.details2 td {
      padding-bottom: 0px;
      }
      .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
      }
      .invoice-box table tr.item.last td {
      border-bottom: none;
      }
      .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
      }
      @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
      }
      .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
      }
      }
      .textarea{
      width: 150px;
      }
  body
    .invoice-box
      .col-xs-12.col-sm-12.col-md-12
        .col-xs-4.col-sm-4.col-md-4(style='float:left;')
          img(style='width:70px;margin-top:-20px;padding:10%;', src='https://kryptosda.kryptosmobile.com/feepayment/LaxmiBai/logo.png')
        .col-xs-8.col-sm-8.col-md-8(style='padding:10px;color:black;')
          label  #{company_name  || " " } #{addressLine1} #{addressLine2} #{city} Admission Form
      .row.text-center
        span.row.text-center    
        br
        div(style='float:right; width:150px;')
          textarea.textarea(cols='4', rows='9')  
        br
        br
        br
        br
        br
        br    
        div
        div
          div(style='float:left;')
            div
            div
            div
            div
        br
        br  
        div
          div
            div(style='color:black;text-align:center;') Student Information
          br
          div
            span(style='float:left;') Course
            span(style='float:right;')  #{course}  
          br
          if class_regular  
            div
                span(style='float:left;') Class
                span(style='float:right;')  #{class_regular}  
             br
          if class_private    
            div
                span(style='float:left;') Class
                span(style='float:right;')  #{class_private}  
             br 
          div
            div(style='float:left;') Subject for B.A.
            br
            div
              span(style='float:left;')  Subject 1    
              span(style='float:right;')  #{subject_ba_1}
            br
            div
              span(style='float:left;')  Subject 2  
              span(style='float:right;')  #{subject_ba_2}
            br
            div
              span(style='float:left;')  Subject 3  
              span(style='float:right;')  #{subject_ba_3}
            br
          div
            span(style='float:left;') Aadhar No
            span(style='float:right;')  #{aadhar_no}
          br   
          div
            span(style='float:left;') Name
            span(style='float:right;')  #{name}  
          br
          div
            span(style='float:left;') Email
            span(style='float:right;')  #{email}  
          br
          div
            span(style='float:left;') Date of Birth
            span(style='float:right;')  #{dob}  
          br
          div
            span(style='float:left;') Gender
            span(style='float:right;')  #{gender}
          br
          div
            span(style='float:left;') Mobile No. 
            span(style='float:right;')  #{mobile}
          br
          br
          div
            span(style='float:left;') Father's Name
            span(style='float:right;')  #{father_name}
          br
          div
            span(style='float:left;') Mother's Name
            span(style='float:right;')  #{mother_name}
          br
          div
            span(style='float:left;') Guardian's Mobile No.
            span(style='float:right;') #{guardian_mobile}
          br
          div
            span(style='float:left;') Address
            span(style='float:right;')  #{address}
          br
          div
            span(style='float:left;') PIN
            span(style='float:right;')  #{pin}
          br
          div
            span(style='float:left;') Minority Status
            span(style='float:right;')  #{category}
          br
          br
          div
            span(style='float:left;') Religion
            span(style='float:right;')  #{sub_category}
          br
          br
          div
            span(style='float:left;') Resident
            span(style='float:right;')  #{res_of}
          br
          div
            span(style='float:left;') Category
            span(style='float:right;')  #{caste_category}
          br
          div
            span(style='float:left;') Intermediate/ Graduation Subject Stream Educational Information
            span(style='float:right;')  #{sub_stream}
          br
          div
            span(style='float:left;') Physically Handicapped - Yes (More than or equal to 40%) otherwise No
            span(style='float:right;')  #{ph}
          br
          div
            span(style='float:left;') Is Father in Defence
            span(style='float:right;')  #{father_in_defence}
          br
          div
            span(style='color: black;float:left;') 
              b  Sports Quota 
            span(style='float:right;')  #{sports_quota}
          br
          div
            span(style='color: black;float:left;') 
              b N.C.C.:
            span(style='float:right;')  #{ncc}
          br
          div
            span(style='color: black;float:left;') 
              b N.S.S.:
            span(style='float:right;')  #{nss}
          br
          div
            span(style='color: black;float:left;') 
              b Scouts/Guides:
            span(style='float:right;')  #{scouts}
          br
          div
            span(style='color: black;float:left;') 
              b Rovers Rangers:
            span(style='float:right;')  #{rovers}
          br
          br
          br
          .container
            table.table.table-bordered(border='1')
                  thead
                    tr(style='color: black')
                      th Class
                      th Board/Univ.
                      th Year
                      th Roll No.
                      th Marks obtained
                      th Remarks Any
                      th 
                  tbody
                    tr
                      td Matriculation
                      td #{mat_board}
                      td #{mat_year}
                      td #{mat_roll}
                      td #{mat_max_marks}
                      td #{mat_marks_obtained}
                      td #{mat_remarks}
                    tr
                      td Intermediate
                      td #{inter_board}
                      td #{inter_year}
                      td #{inter_roll}
                      td #{inter_max_marks}
                      td #{inter_marks_obtained}
                      td #{inter_remarks}
                    tr
                      td Graduation
                      td #{grad_board}
                      td #{grad_year}
                      td #{grad_roll}
                      td #{grad_max_marks}
                      td #{grad_marks_obtained}
                      td #{grad_remarks}
                    tr
                      td Post Graduation
                      td #{post_grad_board}
                      td #{post_grad_year}
                      td #{post_grad_roll}
                      td #{post_grad_max_marks}
                      td #{post_grad_marks_obtained}
                      td #{post_grad_remarks}
                    tr
                      td M.Ed Entrance
                      td #{bed_board}
                      td #{bed_year}
                      td #{bed_roll}
                      td #{bed_max_marks}
                      td #{bed_marks_obtained}
                      td #{bed_remarks}
                    tr
                      td Any Other
                      td #{other_board}
                      td #{other_year}
                      td #{other_roll}
                      td #{other_max_marks}
                      td #{other_marks_obtained}
                      td #{other_remarks}
                    br
          br
          br
          div(style='color:black;text-align:center;')
          strong  UNDERTAKING 
        .dec-body
          | The particulars furnished above are true and complete in all respects and I agree that my candidature may be cancelled
          | if I have given any false information.
          br
          |             I submit myself to the disciplinary jurisdiction of the several authorities of the University of Delhi who may be vested
          |             with the authority to exercise discipline under the Act, the Statutes, the Ordinances and the Rules framed by the
          |             University.
      div
      br
      br
      br
      div
        span(style='float:right;') ___________________________
      div
      br
      div
        span(style='float:right;') Signature of the candidate
      div
      br
      div

