doctype html
html
  head
    meta(charset='utf-8')
    title A simple, clean, and responsive HTML invoice template
    style.
      
      .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      font-size: 10px;
      line-height: 18px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
      }
      .invoice-box table {
      width: 100%;
      line-height: inherit;
      }
      .invoice-box table td {
      padding: 5px;
      vertical-align: top;
      }
     
      .invoice-box table tr.top table td {
      padding-bottom: 20px;
      }
      .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
      }
      .invoice-box table tr.information table td {
      padding-bottom: 40px;
      }
      .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
      }
      .invoice-box table tr.details td {
      padding-bottom: 20px;
      }
      .invoice-box table tr.details2 td {
      padding-bottom: 0px;
      }
      .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
      }
      .invoice-box table tr.item.last td {
      border-bottom: none;
      }
      .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
      }
      @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
      }
      .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
      }
      }
      .textarea{
      width: 150px;
      }
  body
    .invoice-box
      .col-xs-12.col-sm-12.col-md-12
        .col-xs-4.col-sm-4.col-md-4(style='float:left;')
          img(style='width:70px;margin-top:-20px;padding:10%;', src='https://kryptosda.kryptosmobile.com/feepayment/LaxmiBai/logo.png')
        .col-xs-8.col-sm-8.col-md-8(style='padding:10px;color:black;')
          label  #{company_name  || " " } #{addressLine1} #{addressLine2} #{city} Admission Form
      .row.text-center
        span.row.text-center    
        br
        div(style='float:right; width:150px;')
          textarea.textarea(cols='4', rows='9')  
        br
        br
        br
        br
        br
        br    
        div
        div
          div(style='float:left;')
            div
            div
            div
            div
        br
        br  
        div
          div
            div(style='color:black;text-align:center;') Student Information
          br
          div
            span(style='float:left;') Name of the Candidate
            span(style='float:right;')  #{name}  
          br
          div
            span(style='color:black;text-align:center;') Course Choice/Options in order of preference
          div
            span(style='float:left;') 1st Preference
            span(style='float:right;') #{preference1}
          br
          div
            span(style='float:left;') 2nd Preference
            span(style='float:right;')  #{preference2}
          br
          div
            span(style='float:left;') 3rd Preference
            span(style='float:right;')  #{preference3}
          br
          br
          div
            span(style='float:left;') Date of Birth
            span(style='float:right;')  #{dob}
          br
          div
            span(style='float:left;') Father's Name
            span(style='float:right;')  #{father_name}
          br
          div
            span(style='float:left;') Mother's Name
            span(style='float:right;') #{mother_name}
          br
          div
            span(style='float:left;') Contact Address
            span(style='float:right;')  #{contact_address}
          br
          div
            span(style='float:left;') Tel No.
            span(style='float:right;')  #{mobile}
          br
          div
            span(style='float:left;') E-mail ID
            span(style='float:right;')  #{email}
          br
          div
            span(style='float:left;') Permanent Address
            span(style='float:right;')  #{perm_address}
          br
          div(style='color:black;text-align:center;')
            span Academic  Record
          .container
            table.table.table-bordered(border='1')
                  thead
                    tr(style='color: black')
                      th Class 12
                      th Year of Passing
                      th Board/University
                      th Max. Marks
                      th Marks Obtained
                      th %
                      th Subjects Studied
                  tbody
                    tr
                      td 
                      td #{hs_year}
                      td #{hs_school}
                      td #{hs_max_marks}
                      td #{hs_marks_obtained}
                      td #{hs_percentage}
                      td #{hs_subjects}
          br          
          div
            span(style='float:left;') Last Exam Cleared
            span(style='float:right;')  #{lastExam}
          br
          div
            span(style='float:left;') If currently a student, name of institution and course
            span(style='float:right;')  #{inst_course}
          br
          div
            span(style='float:left;') If employed, name of employer and designation (Attach No-objection certificate from the employer)
            span(style='float:right;')  #{emp_designation}    
          br
          br
          br  
          div
            div(style='color:black;text-align:center;') Note: Attested copies of the following certificates to be submitted only at the time of admission after being duly verified with the originals:
          br
          div
            span(style='float:left;') Marks statement for Class 12 examination passed by the candidate
            span(style='float:right;')  #{schoolMarkSheet}
          br  
          div
            span(style='float:left;') No objection certificate from the Employer, if employed
            span(style='float:right;')  #{noObjectionCert}
          br
          div
            span(style='float:left;') A copy of fee receipt from the bank
            span(style='float:right;')  #{bankReceipt}
          br
          div
            span(style='float:left;')  A self-attested copy of Aadhar Card/Passport/Photo ID with address proof
            span(style='float:right;')  #{aadharCard}
          br
        br
        div(style='color:black;text-align:center;')
          strong  UNDERTAKING 
        .dec-body
          | The particulars furnished above are true and complete in all respects and I agree that my candidature may be cancelled
          | if I have given any false information.
          br
          |             I submit myself to the disciplinary jurisdiction of the several authorities of the University of Delhi who may be vested
          |             with the authority to exercise discipline under the Act, the Statutes, the Ordinances and the Rules framed by the
          |             University.
      div
      br
      br
      br
      div
        span(style='float:right;') ___________________________
      div
      br
      div
        span(style='float:right;') Signature of the candidate
      div
      br
      div

