doctype html
html
  head
    meta(charset='utf-8')
    title A simple, clean, and responsive HTML invoice template
    style.
      
      .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      font-size: 8px;
      line-height: 13px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
      }
      .invoice-box table {
      width: 100%;
      line-height: inherit;
      }
      .invoice-box table td {
      padding: 3px;
      vertical-align: top;
      }
     
      .invoice-box table tr.top table td {
      padding-bottom: 15px;
      }
      .invoice-box table tr.top table td.title {
      font-size: 25px;
      line-height: 15px;
      color: #333;
      }
      .invoice-box table tr.information table td {
      padding-bottom: 30px;
      }
      .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
      }
      .invoice-box table tr.details td {
      padding-bottom: 20px;
      }
      .invoice-box table tr.details2 td {
      padding-bottom: 0px;
      }
      .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
      }
      .invoice-box table tr.item.last td {
      border-bottom: none;
      }
      .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
      }
      @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
      }
      .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
      }
      }
      .textarea{
      width: 150px;
      }
      .td{
         border: 1px solid black;
      }
  body
    .invoice-box
      .col-xs-12.col-sm-12.col-md-12
        .col-xs-4.col-sm-4.col-md-4(style='float:left;')
          img(style='width:70px;padding:10%;margin-top:-20px', src='https://kryptosda.kryptosmobile.com/feepayment/KMGGPGC/logo.png')
        .col-xs-8.col-sm-8.col-md-8(style='padding:10px;color:black;')
          label  #{company_name  || " " } #{addressLine1} #{addressLine2} #{city} Admission Form
      .row.text-center
        span.row.text-center    
        br
        div(style='float:right;')
          textarea.textarea(cols='4', rows='9')  SELF ATTESTED PHOTOGRAPH 
        br
        br
        br
        br
        br
        br    
        div
        div
          div(style='float:left;')
            div
            div
            div
            div
        br
        br  
        div
          div
            div(style='color:black;text-align:center;') Student Information
          br
          .container
            table.table.table-bordered
                  tbody
                    tr(style='color: black')
                      td.td 
                        b Merit Category (only for 1st year students): 
                        |       #{uniqueId} 
                      td.td 
                        b Year: 
                        |       #{adm_year}
                      td.td(colspan='2') 
                        b University Registration No.:
                        |       #{en_no || enrollment_no}
                    tr(style='color: black')
                      td.td 
                        b College ID: 
                        |       #{college_id} 
                      td.td 
                        b Merit List No: 
                        |       #{merit_list_no}
                      td.td(colspan='2') 
                        b Merit Serial No.:
                        |       #{merit_serial_no}
                    tr(style='color: black')
                      td.td 
                        b Merit Date: 
                        |       #{meritDate} 
                      td.td 
                        b Class: 
                        |       #{semester}
                      td.td(colspan='2') 
                        b Subject for M.A./M.Sc:
                        |       #{subject_for_ma}  
                    tr(style='color: black')
                      td.td 
                        b Aadhar No: 
                        |       #{aadhar_no} 
                      td.td 
                        b Date of Birth: 
                        |       #{dob} 
                      td.td 
                        b Nationality: 
                        |       #{nationality}
                      td.td(colspan='2') 
                        b Minority Status:
                        |       #{minority_status}    
                    tr(style='color: black')
                      if bankaccount  
                        td.td 
                          b Bank Account: 
                          |       #{bankaccount}
                      if ifsc    
                        td.td 
                          b IFSC Code:
                          |       #{ifsc}   
                      if bank_name
                        td.td 
                          b Bank Name: 
                          |       #{bank_name}
                      if bank_address     
                        td.td 
                          b Bank Address: 
                          |       #{bank_address}
                    tr(style='color: black')
                      td.td 
                        b Name of the Candidate: 
                        |       #{name} 
                      td.td 
                        b Father's Name: 
                        |       #{father_name}
                      td.td(colspan='2') 
                        b Father's Occupation:
                        |       #{father_occ}    
                    tr(style='color: black')
                      td.td 
                        b Father's Income: 
                        |       #{father_income} 
                      td.td 
                        b Income Certificate: 
                        |       #{income_cert}
                      td.td(colspan='2') 
                        b Mother's Name:
                        |       #{mother_name}    
                    tr(style='color: black')
                      td.td 
                        b Mother's Occupation: 
                        |       #{mother_occ} 
                      td.td 
                        b Mobile No: 
                        |       #{mobile}
                      td.td(colspan='2') 
                        b Email:
                        |       #{email}    
                    tr(style='color: black')
                      td.td 
                        b Sex: 
                        |       #{sex} 
                      td.td 
                        b Original Resident Of: 
                        |       #{orginal_res_of}
                      td.td(colspan='2') 
                        b Category:
                        |       #{caste_category}    
                    tr(style='color: black')
                      table.td
                        tr
                          td(style='color:black;text-align:center;', colspan='3')
                            b Subject for B.A./B.Sc./B.Com/B.Sc. (SF)/B.Com (SF)/ B.Sc (CS)/ B.Sc. (HF)
                        tr
                          td(style='color:black;')  
                            b Subject 1: 
                            |       #{subject_ba_1} 
                          td(style='color:black;')   
                            b Subject 2: 
                            |       #{subject_ba_2}
                          td(style='color:black;')   
                            b Subject 3:
                            |       #{subject_ba_3}    
          br                                                    
          div.td(style='padding:5px;')
            div(style='color:black;text-align:center;') 
              b Hobbies
            div
              span(style='color:black; float:left;') 
                b Name Of The Game:
              span
                |       #{hobbies_game_name}  
            div
              span(style='color:black; float:left;') 
                b Cultural Activity:
              span 
                |       #{hobbies_cultural_activity}  
              br
          br
          .container
            table.table.table-bordered
                  tbody
                    tr(style='color: black')
                      td.td(colspan='2')  
                        b Board: 
                        |       #{board} 
                      td.td(colspan='2') 
                        b Address:
                        |       #{address}
                    tr(style='color: black')
                      td.td(colspan='2')  
                        b Parent/Guardian's Mobile No.: 
                        |       #{addr_phone} 
                      td.td(colspan='2') 
                        b Student Mobile No.:
                        |       #{addr_mob}  
          br
          div
            div(style='color:black;text-align:center;') 
              b Weightage Claimed
          br
          div
            span(style='color: black;float:left;') 
              b (A) Participation in Sports:
            span(style='float:right;')  #{sports_participant}
          br
          div
            span(style='color: black;float:left;') 
              b (B) Graduate From:
            span(style='float:right;')  #{grad_from}
          br
          div
            span(style='color: black;float:left;')
              b (C) Spouse/Son/Daughter or Permanent employee:
              b | of C.C.S University or its affliated Colleges:
            span(style='float:right;')  #{perm_emp}
          br
          div
            span(style='color: black;float:left;') 
              b (D) N.C.C.:
            span(style='float:right;')  #{ncc}
          br
          div
            span(style='color: black;float:left;') 
              b (E) N.S.S.:
            span(style='float:right;')  #{nss}
          br
          div
            span(style='color: black;float:left;') 
              b (F) Scouts/Guides:
            span(style='float:right;')  #{scouts}
          br
          div
            span(style='color: black;float:left;') 
              b (G) Rovers Rangers:
            span(style='float:right;')  #{rovers}
          br
          div
            span(style='color: black; float:left;') 
              b (H) Any Other Weightages/Information:
            span(style='float:right;')  #{other_weightage}
          br
          br  
          div
            span(style='color: black;float:left;') 
              b Are you in-service ?
            span(style='float:right;')  #{inService}
          br
          div
            span(style='color: black;float:left;') 
              b Total fees for the Class and Category
            span(style='float:right;')  #{total_fees}
          br
          div
            span(style='color: black;float:left;') 
              b Is any case (UFM/Legal/Any Others) Pending against you ?
            span(style='float:right;')  #{legalCasePending}
          br
          br
          br
          .container
            table.table.table-bordered(border='1')
                  thead
                    tr(style='color: black')
                      th Name of the Exam
                      th Year
                      th Roll No.
                      th School/Board
                      th Subject
                      th Marks obtained
                      th Maximum Marks
                      th Percentage
                  tbody
                    tr
                      td High-school
                      td #{hs_year}
                      td #{hs_rollNo}
                      td #{hs_school}
                      td #{hs_subject}
                      td #{hs_marks_obtained}
                      td #{hs_max_marks}
                      td #{hs_percentage}
                    tr
                      td Intermediate
                      td #{inter_year}
                      td #{inter_rollNo}
                      td #{inter_school}
                      td #{inter_subject}
                      td #{inter_marks_obtained}
                      td #{inter_max_marks}
                      td #{inter_percentage}
                    tr
                      td B.A./B.Sc./B.Com I
                      td #{b1_year}
                      td #{b1_rollNo}
                      td #{b1_school}
                      td #{b1_subject}
                      td #{b1_marks_obtained}
                      td #{b1_max_marks}
                      td #{b1_percentage}
                    tr
                      td B.A./B.Sc./B.Com II
                      td #{b2_year}
                      td #{b2_rollNo}
                      td #{b2_school}
                      td #{b2_subject}
                      td #{b2_marks_obtained}
                      td #{b2_max_marks}
                      td #{b2_percentage}
                    tr
                      td B.A./B.Sc./B.Com III
                      td #{b3_year}
                      td #{b3_rollNo}
                      td #{b3_school}
                      td #{b3_subject}
                      td #{b3_marks_obtained}
                      td #{b3_max_marks}
                      td #{b3_percentage}
                    tr
                      td M.A./M.Sc./M.Com I
                      td #{m1_year}
                      td #{m1_rollNo}
                      td #{m1_school}
                      td #{m1_subject}
                      td #{m1_marks_obtained}
                      td #{m1_max_marks}
                      td #{m1_percentage}
                    tr
                      td M.A./M.Sc./M.Com II
                      td #{m2_year}
                      td #{m2_rollNo}
                      td #{m2_school}
                      td #{m2_subject}
                      td #{m2_marks_obtained}
                      td #{m2_max_marks}
                      td #{m2_percentage}  
                    tr
                      td M.A./M.Sc./M.Com III
                      td #{m3_year}
                      td #{m3_rollNo}
                      td #{m3_school}
                      td #{m3_subject}
                      td #{m3_marks_obtained}
                      td #{m3_max_marks}
                      td #{m3_percentage} 
                    tr
                      td B.Ed./M.Ed. I/II.
                      td #{bed_year}
                      td #{bed_rollNo}
                      td #{bed_school}
                      td #{bed_subject}
                      td #{bed_marks_obtained}
                      td #{bed_max_marks}
                      td #{bed_percentage}
                    br
          br
          br
          tr(style='color: black')
                      table.td
                        tr
                          td(style='color:black;text-align:center;', colspan='3')
                            b Document Attached(Self Attested Photo Copy)
                        tr
                          td.td(style='color:black;',colspan='2')  
                            b High School Marksheet: 
                            |       #{schoolMarkSheet == true ? 'Yes':'No'}
                          td.td(style='color:black;',colspan='2')   
                            b Intermediate Marksheet: 
                            |       #{interMarkSheet == true ? 'Yes':'No'}
                        tr
                          td.td(style='color:black;',colspan='2')  
                            b Graduation Marksheet: 
                            |       #{gradMarkSheet == true ? 'Yes':'No'}
                          td.td(style='color:black;',colspan='2')   
                            b Category Marksheet: 
                            |       #{categoryCertificate == true ? 'Yes':'No'}
                        tr
                          td.td(style='color:black;',colspan='2')  
                            b Character Marksheet: 
                            |       #{characterCertificate == true ? 'Yes':'No'}
                          td.td(style='color:black;',colspan='2')   
                            b Transfer Marksheet: 
                            |       #{transferCertificate == true ? 'Yes':'No'}
                        tr
                          td.td(style='color:black;',colspan='2')  
                            b Weightage Marksheet: 
                            |       #{weightageCertificate == true ? 'Yes':'No'}
                          td.td(style='color:black;',colspan='2')   
                            b Income Marksheet: 
                            |       #{incomeCertificate == true ? 'Yes':'No'}
                        tr
                          td.td(style='color:black;',colspan='2')  
                            b Aadhar Card: 
                            |       #{aadhar_card == true ? 'Yes':'No'}
                          td.td(style='color:black;',colspan='2')   
                            b Other: 
                            |       #{otherAttachment == true ? 'Yes':'No'}
        br
        div
          strong  Delcaration by candidate 
        .dec-body
          input.marginR10px(type='checkbox', ng-model='chkselct2', name='tnc')
          |                   I hereby declare that the above information given by me is true to the best of my knowledge. I abide by the rules and regulations for admission in Minority Quota as set up by the college administration and I understand that my registration shall not guarantee my admission in ........ Class. I solemnly declare that I will follow all the rules and regulations of the college as well as university. I will follow the dress code of the college and will not be participating in any ragging or unlawful activity in the college. Further, I declare that I shall complete the prescribed 75% attendance in the class otherwise my admission be cancelled by the college administration.
      div
      br
      br
      div
        span(style='float:left;') ___________________________
        span(style='float:right;') ___________________________
      div
      br
      div
        span(style='float:left;') Student Signature
        span(style='float:right;') Counter Signature by Parent/Guardian
      div
      br
      div
        span(style='float:left;') For admission committee
        span(style='float:right;') For office use
      div

