doctype html
html
  head
    meta(charset='utf-8')
    title A simple, clean, and responsive HTML invoice template
    style.
      
      .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      font-size: 10px;
      line-height: 18px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
      }
      .invoice-box table {
      width: 100%;
      line-height: inherit;
      }
      .invoice-box table td {
      padding: 5px;
      vertical-align: top;
      }
     
      .invoice-box table tr.top table td {
      padding-bottom: 20px;
      }
      .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
      }
      .invoice-box table tr.information table td {
      padding-bottom: 40px;
      }
      .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
      }
      .invoice-box table tr.details td {
      padding-bottom: 20px;
      }
      .invoice-box table tr.details2 td {
      padding-bottom: 0px;
      }
      .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
      }
      .invoice-box table tr.item.last td {
      border-bottom: none;
      }
      .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
      }
      @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
      }
      .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
      }
      }
      .textarea{
      width: 150px;
      }
  body
    .invoice-box
      .col-xs-12.col-sm-12.col-md-12
        .col-xs-4.col-sm-4.col-md-4(style='float:left;')
          img(style='width:70px;padding:10%;margin-top:-20px', src='https://kryptosda.kryptosmobile.com/feepayment/DPGITM/logo.png')
        .col-xs-8.col-sm-8.col-md-8(style='padding:10px;color:black;')
          label  #{company_name  || " " } #{addressLine1} #{addressLine2} #{city} Admission Form
      .row.text-center
        span.row.text-center    
        br
        div(style='float:right;')
          textarea.textarea(cols='4', rows='9')  SELF ATTESTED PHOTOGRAPH
        br
        br
        br
        br
        br
        br    
        div
        div
          div(style='float:left;')
            div
            div
            div
            div
        br
        br  
        div
          div
            div(style='color:black;text-align:center;') Student Information
          br
          div
            span(style='float:left;') All India Jee (Mains) Rank/Marks
            span(style='float:right;')  #{merit_list_no}
          br
          div
            span(style='float:left;') Jee roll Number
            span(style='float:right;')  #{merit_serial_no}
          br
          div
            span(style='float:left;') Branches of Engg.
            span(style='float:right;') #{semester}
          br
          div
            span(style='float:left;') Other courses 
            span(style='float:right;') #{other_courses}
          br
          div
            span(style='float:left;') Branch of Engg. (M.Tech) 
            span(style='float:right;') #{branch_mtech}
          br
          div
            span(style='float:left;') Aadhar No
            span(style='float:right;')  #{aadhar_no}
          br
          if bankaccount
           div
             span(style='float:left;') BankAccount
             span(style='float:right;')  #{bankaccount}
          br
          if ifsc
           div
             span(style='float:left;') IFSC Code
             span(style='float:right;')  #{ifsc}
          br
          if bank_name
           div
             span(style='float:left;') Bank Name
             span(style='float:right;')  #{bank_name}
          br
          if bank_address
           div
             span(style='float:left;') Bank Address
             span(style='float:right;')  #{bank_address}
          br
          div
            span(style='float:left;') Name of the Candidate
            span(style='float:right;')  #{name}
          br
          div
            span(style='float:left;') Father's Name
            span(style='float:right;')  #{father_name}
          br
          div
            span(style='float:left;') Income per annum
            span(style='float:right;')  #{annual_income}    
          br
          div
            span(style='float:left;') Mother's Name
            span(style='float:right;')  #{mother_name}
          br
          div
            span(style='float:left;') Occupation
            span(style='float:right;')  #{occ}
          br
          div
            span(style='float:left;') Parent's Contact No
            span(style='float:right;')  #{mobile}
          br
          div
            span(style='float:left;') Relative's Contact No
            span(style='float:right;')  #{rel_mobile}
          br
          div
            span(style='float:left;') Email ID
            span(style='float:right;')  #{email}
          br
          div
            span(style='float:left;') Date of Birth
            span(style='float:right;')  #{dob}
          br
          div
            span(style='float:left;') Nationality
            span(style='float:right;')  #{nationality}
          br
          div
            span(style='float:left;') Sex
            span(style='float:right;')  #{sex}
          br
          div
            span(style='float:left;') Category
            span(style='float:right;')  #{caste_category}
          br
          div
            span(style='float:left;') Religion
            span(style='float:right;')  #{religion}
          br
          div
            span(style='float:left;') Blood Group
            span(style='float:right;')  #{blood_group}
          br
          div
            span(style='float:left;') Region
            span(style='float:right;')  #{region}
          br
          div
            span(style='float:left;') Permanent Address
            span(style='float:right;')  #{address}
          br
          div(style='padding:15px;')
            div(style='color:black;text-align:center;') Postal Address
            div
              span(style='float:left;') Address Line 1
              span(style='float:right;')  #{postalAddrLine1}
            br
            div
              span(style='float:left;') City
              span(style='float:right;')  #{postalAddrCity}
            br
            div
              span(style='float:left;') State
              span(style='float:right;')  #{postalAddrState}
            br
            div
              span(style='float:left;') Pin
              span(style='float:right;')  #{postalAddrPin}
            br
            div
              span(style='float:left;') Fax
              span(style='float:right;')  #{postalAddrFax}
            br
            div
              span(style='float:left;') STD Code
              span(style='float:right;')  #{postalAddrStdCode}
            br
          br
          .container
            table.table.table-bordered(border='1')
                  thead
                    tr(style='color: black')
                      th Name of the Exam
                      th Year
                      th Roll No.
                      th School/Board
                      th Subject
                      th Marks obtained
                      th Maximum Marks
                      th Percentage
                  tbody
                    tr
                      td Matric/10th
                      td #{hs_year}
                      td #{hs_rollNo}
                      td #{hs_school}
                      td #{hs_subject}
                      td #{hs_marks_obtained}
                      td #{hs_max_marks}
                      td #{hs_percentage}
                    tr
                      td 10+2/Diploma
                      td #{inter_year}
                      td #{inter_rollNo}
                      td #{inter_school}
                      td #{inter_subject}
                      td #{inter_marks_obtained}
                      td #{inter_max_marks}
                      td #{inter_percentage}
                    tr
                      td Others
                      td #{others_year}
                      td #{others_rollNo}
                      td #{others_school}
                      td #{others_subject}
                      td #{others_marks_obtained}
                      td #{others_max_marks}
                      td #{others_percentage}
                    br
                    br
                    div
                      span(style='float:left;') Have you ever been convicted for any criminal offense?
                      span(style='float:right;')  #{convicted}
                    br
                    div
                      span(style='float:left;') Is there any case pending against you ?
                      span(style='float:right;')  #{legalCasePending}
                    br
                    div
                      div(style='color:black;text-align:center;') Document Attached(Self Attested Photo Copy)
                    br
                    div
                      span(style='float:left;') Class 10 or equivalent mark sheet and certificate
                      span(style='float:right;')  #{schoolMarkSheet}
                    div
                      span(style='float:left;') Class 12 or equivalent mark sheet and certificate
                      span(style='float:right;')  #{interMarkSheet}
                    br
                    div
                      span(style='float:left;') Admit card of JEE Main
                      span(style='float:right;')  #{jeeAdmitCard}
                    br
                    div
                      span(style='float:left;')  Jee Main Rank Card
                      span(style='float:right;')  #{jeeMainRankCard}
                    br
                    div
                      span(style='float:left;')  Certificate of Medical Fitness
                      span(style='float:right;')  #{certMedicalFitness}
                    br
                    div
                      span(style='float:left;')  Character Certificate
                      span(style='float:right;')  #{characterCertificate}
                    br
                    div
                      span(style='float:left;') Haryana Admission Allotment Number
                      span(style='float:right;')  #{admAllotNo}
                    br
                    div
                      span(style='float:left;')  ADD for the specified fee
                      span(style='float:right;')  #{addSpeciedFee}
                    br
                    div
                      span(style='float:left;') Aadhar Card
                      span(style='float:right;')  #{aadhar_card}
                    br
                    div
                      span(style='float:left;') Resident Certificate (for outside Haryana candidate)
                      span(style='float:right;')  #{resCert}
                    br
                    div
                      span(style='float:left;') Certificate from the Employer in the case of Employment of Government Of Haryana, members of All India Services
                      span(style='float:right;')  #{empCert}
                    br
                    div
                      span(style='float:left;') Employee of Statutory Bodies/Corporation
                      span(style='float:right;')  #{empStatutory}
                    br
                    div
                      span(style='float:left;') SC/OBC/PH certificate
                      span(style='float:right;')  #{scObcPhCert}
                    br
                    div
                      span(style='float:left;') Certificate from children and Grandchildren of Freedom Fighters
                      span(style='float:right;')  #{certFreedomFighter}
                    br
                    div
                      span(style='float:left;') Certificate from wards of Deceased/Disabled/Discharged Military/Para-Military personnel/Ex-Servicemen or Ex-Personnel of Para Military Forces
                      span(style='float:right;')  #{certWardsOf1}
                    br
                    div
                      span(style='float:left;') Certificate from wards of ex-employee of Indian Defense Services/Para-Military Forces
                      span(style='float:right;')  #{certWardsOf2}
                    br
                    div
                      span(style='float:left;') Proof of annual parental income from all sources of TFW quota candidates and BC,SBC,EBP candidates)
                      span(style='float:right;')  #{incomeProof}
          div
          div(style='margin-top: 20px ')
        br
        br
        div
          strong  Delcaration by candidate 
        .dec-body
          input.marginR10px(type='checkbox', ng-model='chkselct2', name='tnc')
          |                   I hereby declare that the above information given by me is true to the best of my knowledge. I abide by the rules and regulations for admission in Minority Quota as set up by the college administration and I understand that my registration shall not guarantee my admission in ........ Class. I solemnly declare that I will follow all the rules and regulations of the college as well as university. I will follow the dress code of the college and will not be participating in any ragging or unlawful activity in the college. Further, I declare that I shall complete the prescribed 75% attendance in the class otherwise my admission be cancelled by the college administration.
      div
      br
      br
      br
      div
        span(style='float:left;') ___________________________
        span(style='float:right;') ___________________________
      div
      br
      div
        span(style='float:left;') Student Signature
        span(style='float:right;') Counter Signature by Parent/Guardian
      div
      br
      div
        span(style='float:left;') For admission committee
        span(style='float:right;') For office use
      div

