html
  head
  body
    form(action='https://api.zaakpay.com/api/paymentTransact/V10', method='post')
      input(type='hidden', name='amount', value=amount)
      input(type='hidden', name='buyerEmail', value=email)
      input(type='hidden', name='buyerFirstName', value=first_name)
      input(type='hidden', name='buyerPhoneNumber', value=phone)
      input(type='hidden', name='currency', value=currency)
      input(type='hidden', name='merchantIdentifier', value=merchantIdentifier)
      input(type='hidden', name='orderId', value= orderId)
      input(type='hidden', name='returnUrl', value=returnUrl)
      input(type='hidden', name='txnType', value=txnType)
      input(type='hidden', name='extra1', value=udf_1)
      input(type='hidden', name='extra2', value=udf_2)
      input(type='hidden', name='extra3', value=tenant)
      input(type='hidden', name='extra4', value=fee_type)
      input(type='hidden', name='extra5', value=extra5)
      input(type='hidden', name='checksum', value=hash)
    script(type='text/javascript').
      (function(){
      document.forms[0].submit();
      })();
