doctype html
html
  head
    meta(charset='utf-8')
    style.
      .invoice-box{
      max-width:800px;
      margin:auto;
      padding:30px;
      border:1px solid #eee;
      box-shadow:0 0 10px rgba(0, 0, 0, .15);
      font-size:10px;
      line-height:12px;
      font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color:#555;
      }
      .invoice-box table{
      width:100%;
      line-height:inherit;
      text-align:left;
      }
      .invoice-box table td{
      padding:5px;
      vertical-align:top;
      }
      .invoice-box table tr td:nth-child(2){
      text-align:right;
      }
      .invoice-box table tr.top table td{
      padding-bottom:20px;
      }
      .invoice-box table tr.top table td.title{
      font-size:45px;
      line-height:45px;
      color:#333;
      }
      .invoice-box table tr.information table td{
      padding-bottom:40px;
      }
      .invoice-box table tr.heading td{
      background:#eee;
      border-bottom:1px solid #ddd;
      font-weight:bold;
      }
      .invoice-box table tr.details td{
      padding-bottom:20px;
      }
      .invoice-box table tr.item td{
      border-bottom:1px solid #eee;
      }
      .invoice-box table tr.item.last td{
      border-bottom:none;
      }
      .invoice-box table tr.total td:nth-child(2){
      border-top:2px solid #eee;
      font-weight:bold;
      }
      @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td{
      width:100%;
      display:block;
      text-align:center;
      }
      .invoice-box table tr.information table td{
      width:100%;
      display:block;
      text-align:center;
      }
      }
  body
    .invoice-box
      table(cellpadding='0', cellspacing='0')
        tr.top
          td(colspan='2')
            table
              tr
                td.title
                  img(src='', at='company_logo', style='width:100%; max-width:300px;')
                td
                  | Invoice #: invoiceId
                  br
                  |                                 Created: created_on
                  br
        tr.information
          td(colspan='2')
            table
              tr
                td
                  | CampusEAI
                  br
                  |                                 addressLine1
                  br
                  |                                 city, state, pincode
                td
                  | name 
                  br
                  |                                 enrollment_no, semester
                  br
        tr.heading
          td Payment Method
          td Transaction Id #
        tr.details
          td paymethod
          td amount
        tr.heading
          td Fee
          td Charge
        tr.item
          td Adminssion Fee
          td admission_fee
        tr.item
          td Tuition Fee
          td tuition_fee
        tr.item.last
          td Hostel Fee
          td hostel_fee
        tr.item.last
          td Mess Fee
          td mess_fee  
        tr.item.last
          td Lab Fee
          td lab_fee  
        tr.item.last
          td Other Fee
          td other_fee   
        tr.item.last
          td Others
          td others    
        tr.total
          td
          td Total: totalFee
        br
        br
        tr.total
          td Note: Submit the signed copy of the invoice in the college