html
  head
  body
    form(action=aurl, method='post')
      input(type='hidden', name='firstname', value=first_name)
      input(type='hidden', name='surl', value=surl)
      input(type='hidden', name='phone', value=phone)
      input(type='hidden', name='key', value=key)
      input(type='hidden', name='udf1', value=udf_1)
      input(type='hidden', name='udf2', value=udf_2)
      input(type='hidden', name='udf3', value=tenant)
      input(type='hidden', name='hash', value=hash)
      input(type='hidden', name='curl', value=curl)
      input(type='hidden', name='furl', value=furl)
      input(type='hidden', name='txnid', value=trnxid)
      input(type='hidden', name='additional_charges', value=additional_charges)
      input(type='hidden', name='productinfo', value=description)
      input(type='hidden', name='amount', value=amount)
      input(type='hidden', name='email', value=email)
      input(type='hidden', name='enforce_paymethod', value=enforce_paymethod)
    script(type='text/javascript').
      (function(){
      document.forms[0].submit();
      })();
